@using AppProj.Web.Helpers;
@using AppProj.Web;
@model AppProj.Web.Models.WorkstationLeaveQuarantineModel
@{
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dialog1Body",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "openDialog1('Workstation Leave and Quarantine Information')",
        LoadingElementId = "loading",
        OnFailure = "failure"
    };
}
@using (Ajax.BeginForm("Save", "WorkstationLeaveQuarantine", ajaxOpt))
{
    @Html.ValidationSummary(true)
    if (Model != null)
    {
        @Html.HiddenFor(m => m.Id)
    }
    @Html.HiddenFor(m => m.StaffName)
    <table>
        <tr>
            <td style="width:50%; vertical-align:top;">
                <table>
                    <tr>
                        <td>
                            <p style="font-weight:bold;color:green">@Html.DisplayFor(model => model.Message)</p>

                        </td>
                    </tr>
                </table>
                <h3>@Html.DisplayFor(m=> m.StaffName)</h3>
                <div>
                    <table>
                        <tr>
                            <td style="vertical-align:top">
                                <table class="table-striped">
                                    <tr>
                                        <td class="title">
                                            PIN
                                        </td>
                                        <td class="control">
                                            @Html.TextBoxFor(model => model.PIN)
                                            @Html.ValidationMessageFor(model => model.PIN)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            Designation
                                        </td>
                                        <td class="control">
                                            @Html.TextBoxFor(model => model.Designation)
                                            @Html.ValidationMessageFor(model => model.Designation)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            Grade
                                        </td>
                                        <td class="control">
                                            @Html.TextBoxFor(model => model.Grade)
                                            @Html.ValidationMessageFor(model => model.Grade)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            Sex
                                        </td>
                                        <td class="control">
                                            @Html.DropDownListFor(model => model.GenderId, Model.GenderList)
                                            @Html.ValidationMessageFor(model => model.GenderId)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            Home District
                                        </td>
                                        <td class="control">
                                            @Html.TextBoxFor(model => model.HomeDistrict)
                                            @Html.ValidationMessageFor(model => model.HomeDistrict)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            Programme/Project
                                        </td>
                                        <td class="control">
                                            @Html.DropDownListFor(model => model.SourceId, Model.ProgramList)
                                            @Html.ValidationMessageFor(model => model.SourceId)
                                        </td>
                                    </tr>
                                </table>
                            </td>

                            <td style="vertical-align:top">
                                <table class="table-striped">
                                    <tr>
                                        <td class="title">
                                            Date Of Joining at Brac
                                        </td>
                                        <td class="control">
                                            @Html.TextBoxFor(model => model.DateOfJoiningBrac, "{0:dd MMM, yyyy}")
                                            @Html.ValidationMessageFor(model => model.DateOfJoiningBrac)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            Date of Joining at Current Branch
                                        </td>
                                        <td class="control">
                                            @Html.TextBoxFor(model => model.DateOfJoiningCurrentBranch, "{0:dd MMM, yyyy}")
                                            @Html.ValidationMessageFor(model => model.DateOfJoiningCurrentBranch)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            Branch
                                        </td>
                                        <td class="control">

                                            @Html.TextBoxFor(model => model.Branch)
                                            @Html.ValidationMessageFor(model => model.Branch)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            Area
                                        </td>
                                        <td class="control">

                                            @Html.TextBoxFor(model => model.Area)
                                            @Html.ValidationMessageFor(model => model.Area)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            Region
                                        </td>
                                        <td class="control">

                                            @Html.TextBoxFor(model => model.Region)
                                            @Html.ValidationMessageFor(model => model.Region)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            Upazilla
                                        </td>
                                        <td class="control">
                                            @Html.DropDownListFor(model => model.UpazillaId, Model.UpazillaList)
                                            @Html.ValidationMessageFor(model => model.UpazillaId)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            District
                                        </td>
                                        <td class="control">

                                            @Html.DropDownListFor(model => model.DistrictId, Model.DistrictList)
                                            @Html.ValidationMessageFor(model => model.DistrictId)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-weight:bold">Workstation Leave Information</p>
                                <hr style="width:100%" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table-striped">
                                    <tr>
                                        <td class="title">
                                            Have you left workstation?
                                        </td>
                                        <td class="control">
                                            @if (Model.IsWorkStationLeft)
                                            {
                                                @Html.RadioButtonFor(model => model.IsWorkStationLeft, "1", new { @checked = "checked" }) <text>Yes</text>
                                                @Html.RadioButtonFor(model => model.IsWorkStationLeft, "0") <text>No</text>
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(model => model.IsWorkStationLeft, "1") <text>Yes</text>
                                                @Html.RadioButtonFor(model => model.IsWorkStationLeft, "0", new { @checked = "checked" }) <text>No</text>
                                            }


                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title" id="tdWorkStationLeaveDateTitle">
                                            If yes, specify the date
                                        </td>
                                        <td class="control" id="tdWorkStationLeaveDateControl">
                                            @Html.TextBoxFor(model => model.WorkStationLeaveDate, "{0:dd MMM, yyyy}", new { @class = "span2", @placeholder = "Date" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title" id="tdWorkStationReturnDateTitle">
                                            When have you returned the workstation?
                                        </td>
                                        <td class="control" id="tdWorkStationReturnDateControl">
                                            @Html.TextBoxFor(model => model.WorkStationReturnDate, "{0:dd MMM, yyyy}", new { @class = "span2", @placeholder = "Date" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Has  your supervisor  permitted you to leave workstation?
                                        </td>
                                        <td class="control">
                                            @Html.DropDownListFor(model => model.SupervisorPermitted, Model.SupervisorPermittedList)
                                            @Html.ValidationMessageFor(model => model.SupervisorPermitted)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                                <p style="font-weight:bold">Quarantine Information</p>
                                <hr style="width:100%" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <table class="table-striped">
                                        <tr>
                                            <td class="title">
                                                Whether stay in quarantine or not after returning the workstation?
                                            </td>
                                            <td class="control">
                                                @if (Model.IsStayInQuarantine)
                                                {
                                                    @Html.RadioButtonFor(model => model.IsStayInQuarantine, "1", new { @checked = "checked" }) <text>Yes</text>
                                                    @Html.RadioButtonFor(model => model.IsStayInQuarantine, "0") <text>No</text>
                                                }
                                                else
                                                {
                                                    @Html.RadioButtonFor(model => model.IsStayInQuarantine, "1") <text>Yes</text>
                                                    @Html.RadioButtonFor(model => model.IsStayInQuarantine, "0", new { @checked = "checked" }) <text>No</text>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title" id="tdQuarantineStartDateTitle">
                                                If yes, Quarantine start date
                                            </td>
                                            <td class="control" id="tdQuarantineStartDateControl">
                                                @Html.TextBoxFor(model => model.QuarantineStartDate, "{0:dd MMM, yyyy}", new { @class = "span2", @placeholder = "Date" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title" id="tdQuarantineEndDateTitle">
                                                End date
                                                @*</td>*@
                                            <td class="control" id="tdQuarantineEndDateControl">
                                                @Html.TextBoxFor(model => model.QuarantineEndDate, "{0:dd MMM, yyyy}", new { @class = "span2", @placeholder = "Date" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">
                                                Is corona symptomitic?
                                            </td>
                                            <td class="control">
                                                @if (Model.IsCoronaSymptomitic)
                                                {
                                                    @Html.RadioButtonFor(model => model.IsCoronaSymptomitic, "1", new { @checked = "checked" }) <text>Yes</text>
                                                    @Html.RadioButtonFor(model => model.IsCoronaSymptomitic, "0") <text>No</text>
                                                }
                                                else
                                                {
                                                    @Html.RadioButtonFor(model => model.IsCoronaSymptomitic, "1") <text>Yes</text>
                                                    @Html.RadioButtonFor(model => model.IsCoronaSymptomitic, "0", new { @checked = "checked" }) <text>No</text>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">
                                                Is Quarantine extended?
                                            </td>
                                            <td class="control">
                                                @if (Model.IsQuarantineExtended)
                                                {
                                                    @Html.RadioButtonFor(model => model.IsQuarantineExtended, "1", new { @checked = "checked" }) <text>Yes</text>
                                                    @Html.RadioButtonFor(model => model.IsQuarantineExtended, "0") <text>No</text>
                                                }
                                                else
                                                {
                                                    @Html.RadioButtonFor(model => model.IsQuarantineExtended, "1") <text>Yes</text>
                                                    @Html.RadioButtonFor(model => model.IsQuarantineExtended, "0", new { @checked = "checked" }) <text>No</text>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title" id="tdExtendedQuarantineStartDateTitle">
                                                If yes, Extended Quarantine start date
                                            </td>
                                            <td class="control" id="tdExtendedQuarantineStartDateControl">
                                                @Html.TextBoxFor(model => model.ExtendedQuarantineStartDate, "{0:dd MMM, yyyy}", new { @class = "span2", @placeholder = "Date" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title" id="tdExtendedQuarantineEndDateTitle">
                                                End date
                                            </td>
                                            <td class="control" id="tdExtendedQuarantineEndDateControl">
                                                @Html.TextBoxFor(model => model.ExtendedQuarantineEndDate, "{0:dd MMM, yyyy}", new { @class = "span2", @placeholder = "Date" })
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <br />
                                <p style="font-weight:bold">Information collected from</p>
                                <hr style="width:100%" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <table class="table-striped">
                                        <tr>
                                            <td class="title">
                                                Is information get from another person?
                                            </td>
                                            <td class="control">
                                                @if (Model.IsInformationFromAnotherPerson)
                                                {
                                                    @Html.RadioButtonFor(model => model.IsInformationFromAnotherPerson, "1", new { @checked = "checked" }) <text>Yes</text>
                                                    @Html.RadioButtonFor(model => model.IsInformationFromAnotherPerson, "0") <text>No</text>
                                                }
                                                else
                                                {
                                                    @Html.RadioButtonFor(model => model.IsInformationFromAnotherPerson, "1") <text>Yes</text>
                                                    @Html.RadioButtonFor(model => model.IsInformationFromAnotherPerson, "0", new { @checked = "checked" }) <text>No</text>
                                                }
                                            </td>
                                        </tr>
                                        <tr id="trInfoCollectedName">
                                            <td class="title">
                                                Name
                                            </td>
                                            <td class="control" id="tdInfoCollectedNameTitle">
                                                @Html.TextBoxFor(model => model.InfoCollectedName)
                                                @Html.ValidationMessageFor(model => model.InfoCollectedName)
                                            </td>
                                        </tr>
                                        <tr id="trInfoCollectedPIN">
                                            <td class="title">
                                                PIN
                                            </td>
                                            <td class="control">
                                                @Html.TextBoxFor(model => model.InfoCollectedPIN)
                                                @Html.ValidationMessageFor(model => model.InfoCollectedPIN)
                                            </td>
                                        </tr>
                                        <tr id="trInfoCollectedDesignation">
                                            <td class="title">
                                                Designation
                                            </td>
                                            <td class="control">
                                                @Html.TextBoxFor(model => model.InfoCollectedDesignation)
                                                @Html.ValidationMessageFor(model => model.InfoCollectedDesignation)
                                            </td>
                                        </tr>
                                        <tr id="trInfoCollectedDate">
                                            <td class="title">
                                                Date
                                            </td>
                                            <td class="control">
                                                @Html.TextBoxFor(model => model.InfoCollectedDate, "{0:dd MMM, yyyy}", new { @class = "span2", @placeholder = "Date" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <hr style="width:100%" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Comments, if any
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.TextAreaFor(model => model.Comment)
                                @Html.ValidationMessageFor(model => model.Comment)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (Model.Id == 0)
                                {
                                    @Ajax.ActionLink("<< Back ", "Create", "WorkstationLeaveQuarantine", ajaxOpt, new { @class = "" })
                                }
                            </td>
                            <td>
                                <p>
                                    <input id="save-submit" type="submit" value="Save" class="btn btn-primary" />
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            
        </tr>
    </table>
}
    <script type="text/javascript">
    ValidatateForm("form0");
    $(document).ready(function () {

        $("#save-submit").click(function () {

            if (!confirm("Do you want to Save?")) {
                return false;
            }

        });

        if (($("input[name=IsWorkStationLeft]:checked").val()) == 0) {
            $("#tdWorkStationLeaveDateTitle").hide();
            $("#tdWorkStationLeaveDateControl").hide();
            $("#tdWorkStationReturnDateTitle").hide();
            $("#tdWorkStationReturnDateControl").hide();
        }
        else {
            $("#tdWorkStationLeaveDateTitle").show();
            $("#tdWorkStationLeaveDateControl").show();
            $("#tdWorkStationReturnDateTitle").show();
            $("#tdWorkStationReturnDateControl").show();
        }

        if (($("input[name=IsStayInQuarantine]:checked").val()) == 0) {
            $("#tdQuarantineStartDateTitle").hide();
            $("#tdQuarantineStartDateControl").hide();
            $("#tdQuarantineEndDateTitle").hide();
            $("#tdQuarantineEndDateControl").hide();
        }
        else {
            $("#tdQuarantineStartDateTitle").show();
            $("#tdQuarantineStartDateControl").show();
            $("#tdQuarantineEndDateTitle").show();
            $("#tdQuarantineEndDateControl").show();
        }

        if (($("input[name=IsQuarantineExtended]:checked").val()) == 0) {

            $("#tdExtendedQuarantineStartDateTitle").hide();
            $("#tdExtendedQuarantineStartDateControl").hide();
            $("#tdExtendedQuarantineEndDateTitle").hide();
            $("#tdExtendedQuarantineEndDateControl").hide();
        }
        else {
            $("#tdExtendedQuarantineStartDateTitle").show();
            $("#tdExtendedQuarantineStartDateControl").show();
            $("#tdExtendedQuarantineEndDateTitle").show();
            $("#tdExtendedQuarantineEndDateControl").show();
        }

        if (($("input[name=IsInformationFromAnotherPerson]:checked").val()) == 0) {
            $("#trInfoCollectedName").hide();
            $("#trInfoCollectedPIN").hide();
            $("#trInfoCollectedDesignation").hide();
            $("#trInfoCollectedDate").hide();
        }
        else {
            $("#trInfoCollectedName").show();
            $("#trInfoCollectedPIN").show();
            $("#trInfoCollectedDesignation").show();
            $("#trInfoCollectedDate").show();
        }

        $('input[name="IsWorkStationLeft"]').change(function () {

            var rvalue = $("input[name=IsWorkStationLeft]:checked").val();

            if (rvalue == 0) {

                $("#tdWorkStationLeaveDateTitle").hide();
                $("#tdWorkStationLeaveDateControl").hide();
                $("#tdWorkStationReturnDateTitle").hide();
                $("#tdWorkStationReturnDateControl").hide();

            }
            else {

                $("#tdWorkStationLeaveDateTitle").show();
                $("#tdWorkStationLeaveDateControl").show();
                $("#tdWorkStationReturnDateTitle").show();
                $("#tdWorkStationReturnDateControl").show();

            }

        });

        $('input[name="IsStayInQuarantine"]').change(function () {

            var rvalue = $("input[name=IsStayInQuarantine]:checked").val();

            if (rvalue == 0) {

                $("#tdQuarantineStartDateTitle").hide();
                $("#tdQuarantineStartDateControl").hide();
                $("#tdQuarantineEndDateTitle").hide();
                $("#tdQuarantineEndDateControl").hide();

            }
            else {

                $("#tdQuarantineStartDateTitle").show();
                $("#tdQuarantineStartDateControl").show();
                $("#tdQuarantineEndDateTitle").show();
                $("#tdQuarantineEndDateControl").show();
            }

        });

        $('input[name="IsQuarantineExtended"]').change(function () {

            var rvalue = $("input[name=IsQuarantineExtended]:checked").val();

            if (rvalue == 0) {

                $("#tdExtendedQuarantineStartDateTitle").hide();
                $("#tdExtendedQuarantineStartDateControl").hide();
                $("#tdExtendedQuarantineEndDateTitle").hide();
                $("#tdExtendedQuarantineEndDateControl").hide();

            }
            else {

                $("#tdExtendedQuarantineStartDateTitle").show();
                $("#tdExtendedQuarantineStartDateControl").show();
                $("#tdExtendedQuarantineEndDateTitle").show();
                $("#tdExtendedQuarantineEndDateControl").show();
            }

        });

        $('input[name="IsInformationFromAnotherPerson"]').change(function () {

            var rvalue = $("input[name=IsInformationFromAnotherPerson]:checked").val();

            if (rvalue == 0) {

                $("#trInfoCollectedName").hide();
                $("#trInfoCollectedPIN").hide();
                $("#trInfoCollectedDesignation").hide();
                $("#trInfoCollectedDate").hide();

            }
            else {

                $("#trInfoCollectedName").show();
                $("#trInfoCollectedPIN").show();
                $("#trInfoCollectedDesignation").show();
                $("#trInfoCollectedDate").show();
            }

        });

        $('#InfoCollectedDate').datepicker({
            format: "dd M, yyyy",
            autoclose: true,
            endDate: '+0d',
            startDate: null
        });

        $('#WorkStationLeaveDate').datepicker({
            format: "dd M, yyyy",
            autoclose: true,
            endDate: '+0d',
            startDate: null
        });

        $('#WorkStationReturnDate').datepicker({
            format: "dd M, yyyy",
            autoclose: true,
            endDate: '+0d',
            startDate: null
        });

        $('#QuarantineStartDate').datepicker({
            format: "dd M, yyyy",
            autoclose: true,
            endDate: '+0d',
            startDate: null
        });

        $('#QuarantineEndDate').datepicker({
            format: "dd M, yyyy",
            autoclose: true,
            endDate: '+0d',
            startDate: null
        });

        $('#ExtendedQuarantineStartDate').datepicker({
            format: "dd M, yyyy",
            autoclose: true,
            endDate: '+0d',
            startDate: null
        });

        $('#ExtendedQuarantineEndDate').datepicker({
            format: "dd M, yyyy",
            autoclose: true,
            endDate: '+0d',
            startDate: null
        });

    });
    </script>
    
