@using AppProj.Web.Helpers
@model IEnumerable<AppProj.Domain.QryRoleFeature>
@{
    Layout = "~/Views/Shared/_LayoutBrac.cshtml";
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dialog1Body",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "openDialog1('Rights')",
        LoadingElementId = "loading",
        OnFailure = "failure"
    };
}

<div class="page-header">
    <h2>Rights of @ViewBag.RoleName role</h2>

</div>

<div class="table-responsive custom-action">
    <div id="data_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

        <div class="tnav" style="">

        </div>
        <div class="custom-add">
            @Ajax.ActionLink("Add Right", "AddFeature", new { roleId = @ViewBag.RoleId }, ajaxOpt, new { @class = "btn btn-bracify-add" })
        </div>

        <table id="myTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Rights Description</th>
                    <th></th>
                </tr>
            </thead>

        </table>

    </div>
    <p class="text" style="margin-right: 15px;">
        @Html.ActionLink("Back to Role", "Index", "Role", null, new { @class = "close" })
    </p>
</div>

<input type="hidden" id="hdnRoleId" value="@ViewBag.RoleId" />


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var addPost = {
                'roleId': 'hdnRoleId' //column number : is button group
            };

            var btns = {
                1: false //column number : is button group
            };

            /*data grid initializer*/
            DataTableBinder($("#myTable")   //table object
                , '@Url.Content("~/RoleFeature/DataGrid")'  //json data url
            , [10, 15]  //record size
            , false //show all with row size
            , addPost  //additional parameters at query string
            , btns   //buttons are at these columns
            , true
            );

        });
    </script>
}
