<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>COVID-19 Response</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/styles")

</head>
@using AppProj.Web.Controllers;
@using AppProj.Web;
@using AppProj.Web.Helpers;

<body>
    <div class="container-fluid">

        @Html.Partial("_LayoutPartial")

        <div class="row-fluid">
            <div id="MainBody" class="span12">
                @RenderBody()
            </div>
        </div>

    </div>

    @Html.Partial("_ModalPartial")

    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/utopia")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">


        $(document).ready(function () {
            
            //LoadMenuTop('@Url.Action("MenuData", "Main")');

            KeepSessionAlive('@Url.Content("~/Home/HeartBeat")');

        });

        

    </script>
</body>
</html>

