<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>COVID-19 Response</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/brac")
    <style type="text/css">
        .st0 {
        fill: none;
        }
        .st1 {
        fill: #2C2C2C;
        }
    </style>
</head>
@using AppProj.Web.Controllers;
@using AppProj.Web;
@using AppProj.Web.Helpers;

<body>
    <nav class="container-custom topbar-nav navbar">
        <a class="navbar-brand" href="#">
            <img class="img-fluid logo" src=@Url.Content("~/Content/src/images/brac-logo.svg") alt="Brac" />
        </a>
        <div class="topbar-dropdowns">
            <div class="dropdown notification-dd">
                <span id="spnactivitiestop" class="count-badge green corner dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">4</span>
                <!-- <img src="src/images/svg/activities.svg" class="notification-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="Activities"> -->
                <svg class="activity-svg notification-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.5 28.6" style="enable-background:new 0 0 24.5 28.6;" xml:space="preserve">
                    
                <g><polygon class="st0" points="3.3,18.1 3.3,18.1 3.3,18.1 " /><path class="st1" d="M18.7,15.1c-0.3,0.1-0.5,0.4-0.5,0.7v9.2c0.1,0.5-0.2,1.1-0.7,1.3c-0.3,0.1-0.6,0.1-0.8,0.1l-11.6,0c-0.6,0-1.2,0-1.7,0c-0.6,0-1.2-0.4-1.2-1.1c0-0.1,0-0.3,0-0.4V5.7c0-1,0.5-1.5,1.5-1.5h4.9C9,4.3,9.3,4,9.4,3.6c0-0.1,0-0.1,0-0.2c0-0.4-0.4-0.8-0.8-0.8c-1.8,0-3.5,0-5.3,0c-1.4,0-2.5,1-2.8,2.3v21c0.1,0.6,0.4,1.1,0.8,1.5c0.4,0.4,0.9,0.6,1.4,0.7h14.6c1.4-0.2,2.4-1.4,2.4-2.8v-2c0-2.4,0-4.9,0-7.3c0-0.3-0.1-0.5-0.3-0.7C19.3,15.1,19,15,18.7,15.1z" /><path class="st1" d="M18,0.5C18,0.5,18,0.5,18,0.5c-3.3,0-6.1,2.7-6.1,6c0,3.3,2.7,6,6,6h0c0,0,0,0,0,0c1.6,0,3.1-0.6,4.3-1.8C23.4,9.7,24,8.2,24,6.5C24,3.3,21.3,0.5,18,0.5z M18,10.9c0,0-0.1,0-0.1,0l-0.1,0c-1.1,0-2.2-0.5-3-1.3c-0.8-0.8-1.2-1.9-1.2-3.1c0,0,0-0.1,0-0.1c0-1.2,0.5-2.2,1.3-3.1c0.8-0.8,1.9-1.2,3.1-1.2l0.1,0c1.2,0,2.2,0.5,3.1,1.3s1.2,1.9,1.2,3.1l0,0.1C22.3,9,20.4,10.9,18,10.9z" /><path class="st1" d="M11.2,12.2C11,12,10.8,12,10.6,12l-3.1,0l-1,0c-0.7,0-1.4,0-2,0c-0.1,0-0.1,0-0.1,0c-0.4,0-0.8,0.4-0.8,0.8c0,0,0,0.1,0,0.1c0,0.2,0.1,0.4,0.3,0.5c0.2,0.1,0.4,0.2,0.6,0.2l6.1,0c0.1,0,0.1,0,0.1,0c0.4,0,0.8-0.4,0.8-0.8c0-0.1,0-0.1,0-0.1C11.4,12.5,11.3,12.3,11.2,12.2z" /><path class="st1" d="M12.1,24.3C12.2,24.3,12.2,24.4,12.1,24.3c0.2,0.2,0.5,0.3,0.7,0.3c0.2,0,0.4-0.1,0.6-0.3c0.8-0.8,1.7-1.7,2.5-2.5l0.6-0.6c0.2-0.2,0.3-0.4,0.3-0.7v0c0-0.1,0-0.1,0-0.2c0-0.1-0.1-0.3-0.2-0.4c-0.2-0.1-0.4-0.2-0.6-0.2c-0.2,0-0.4,0.1-0.6,0.3c-0.7,0.7-1.4,1.3-2,2c-0.1,0.1-0.3,0.3-0.5,0.3c0,0,0,0,0,0c-0.2,0-0.4-0.1-0.5-0.2c-0.2-0.2-0.4-0.2-0.6-0.2c-0.2,0-0.4,0.1-0.6,0.2c-0.3,0.3-0.3,0.8,0,1.2C11.4,23.6,11.8,24,12.1,24.3z" /><path class="st1" d="M8.5,17.2c-1.4,0-2.7,0-4.1,0c0,0-0.1,0-0.1,0c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.2-0.2,0.4-0.2,0.6l0,0.1c0,0.4,0.4,0.8,0.8,0.8l2.7,0c0.5,0,0.9,0,1.4,0l0.1,0c0.4,0,0.8-0.4,0.8-0.8c0,0,0-0.1,0-0.1C9.3,17.5,9,17.1,8.5,17.2z" /><path class="st1" d="M18.8,5.1c0-0.2,0-0.5,0-0.7c0-0.4-0.4-0.8-0.8-0.7c0,0,0,0,0,0c-0.4,0-0.8,0.3-0.8,0.8v0.4c0,0.1,0,0.2,0,0.3c0,0.3,0,0.4-0.1,0.5c-0.1,0.1-0.3,0.1-0.6,0.1l-0.6,0c-0.2,0-0.4,0.1-0.6,0.2s-0.2,0.3-0.2,0.6v0.1c0,0.4,0.4,0.8,0.8,0.8c0.7,0,1.4,0,2.1,0c0.3,0,0.4-0.1,0.6-0.2c0.1-0.2,0.2-0.3,0.2-0.6c0-0.2,0-0.5,0-0.7l0-0.4L18.8,5.1z" /></g></svg>
                <div class="dropdown-menu dropdown-menu-right datatree-menu">
                    <h6 class="dropdown-header d-flex align-items-center"><span class="mr-3">Activities</span> <span id="spnactivities" class="count-badge green">4</span></h6>
                    <a class="dropdown-item" href="#">
                        Some notification
                    </a>
                    <a class="dropdown-item" href="#">
                        Some other notification
                    </a>
                </div>
            </div>
            <div class="dropdown notification-dd">
                <span id="spnmessagetop" class="count-badge red corner msg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">4</span>
                <svg class="message-svg notification-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="24.854" height="20.171" viewBox="0 0 24.854 20.171"><g transform="translate(-1215.288 -26.72)" fill="none"><path d="M1236.558,33.513c-1.9,1.317-3.817,2.634-5.707,3.963-.794.548-2.134,1.671-3.122,1.671h-.025c-.988,0-2.331-1.123-3.123-1.671-1.889-1.329-3.8-2.646-5.694-3.963-.866-.585-2.1-1.963-2.1-3.074a1.978,1.978,0,0,1,1.953-2.219h17.952a1.963,1.963,0,0,1,1.95,1.951A4.405,4.405,0,0,1,1236.558,33.513Zm2.085,9.927a1.955,1.955,0,0,1-1.95,1.951H1218.74a1.957,1.957,0,0,1-1.953-1.951V33.756a6.825,6.825,0,0,0,1.232,1.062c2.025,1.379,4.074,2.756,6.061,4.207a6.683,6.683,0,0,0,3.623,1.683h.025a6.674,6.674,0,0,0,3.621-1.683c1.989-1.439,4.038-2.828,6.074-4.207a7.125,7.125,0,0,0,1.219-1.062Z" stroke="none" /><path class="message-path" d="M 1218.740478515625 28.22000122070312 C 1217.435546875 28.22000122070312 1216.787963867188 29.24468231201172 1216.787963867188 30.43877029418945 C 1216.787963867188 31.54952239990234 1218.020263671875 32.92805099487305 1218.886596679688 33.51280212402344 C 1220.776123046875 34.82985305786133 1222.691528320312 36.14691162109375 1224.580932617188 37.47624969482422 C 1225.37353515625 38.02412033081055 1226.716552734375 39.14715957641602 1227.704223632812 39.14715957641602 L 1227.715209960938 39.14715957641602 L 1227.728881835938 39.14715957641602 C 1228.716674804688 39.14715957641602 1230.057006835938 38.02412033081055 1230.850830078125 37.47624969482422 C 1232.740234375 36.14691162109375 1234.654296875 34.82985305786133 1236.5576171875 33.51280212402344 C 1237.63134765625 32.7681999206543 1238.642456054688 31.53586196899414 1238.642456054688 30.17098236083984 C 1238.642456054688 29.09712219238281 1237.753051757812 28.22000122070312 1236.69287109375 28.22000122070312 L 1218.740478515625 28.22000122070312 M 1216.787963867188 33.7559928894043 L 1216.787963867188 43.43988037109375 C 1216.787963867188 44.51374053955078 1217.666625976562 45.39086151123047 1218.740478515625 45.39086151123047 L 1236.69287109375 45.39086151123047 C 1237.765258789062 45.39086151123047 1238.642456054688 44.51374053955078 1238.642456054688 43.43988037109375 L 1238.642456054688 33.7559928894043 C 1238.277587890625 34.15903091430664 1237.8623046875 34.51288986206055 1237.423706054688 34.81756210327148 C 1235.387939453125 36.19609069824219 1233.338623046875 37.58555221557617 1231.349487304688 39.02420043945312 C 1230.324829101562 39.78110122680664 1229.058227539062 40.70741271972656 1227.728881835938 40.70741271972656 L 1227.715209960938 40.70741271972656 L 1227.704223632812 40.70741271972656 C 1226.375 40.70741271972656 1225.105712890625 39.78110122680664 1224.080932617188 39.02420043945312 C 1222.094482421875 37.57326126098633 1220.045166015625 36.19609069824219 1218.020263671875 34.81756210327148 C 1217.569458007812 34.51288986206055 1217.154296875 34.15903091430664 1216.787963867188 33.7559928894043 M 1218.740478515625 26.72000122070312 L 1236.69287109375 26.72000122070312 C 1238.496215820312 26.72000122070312 1239.980712890625 28.11162567138672 1240.130126953125 29.87767791748047 L 1240.142456054688 29.86404037475586 L 1240.142456054688 30.17098236083984 L 1240.142456054688 33.7559928894043 L 1240.142456054688 43.43988037109375 C 1240.142456054688 45.3427619934082 1238.594970703125 46.89086151123047 1236.69287109375 46.89086151123047 L 1218.740478515625 46.89086151123047 C 1216.836791992188 46.89086151123047 1215.287963867188 45.3427619934082 1215.287963867188 43.43988037109375 L 1215.287963867188 33.7559928894043 L 1215.287963867188 29.8756103515625 L 1215.318481445312 29.90913009643555 C 1215.405517578125 29.16096115112305 1215.677124023438 28.47658920288086 1216.1044921875 27.94338226318359 C 1216.736938476562 27.15447235107422 1217.673095703125 26.72000122070312 1218.740478515625 26.72000122070312 Z" stroke="none" fill="#2c2c2c" /></g></svg>
                <div class="dropdown-menu dropdown-menu-right datatree-menu">
                    <h6 class="dropdown-header d-flex align-items-center justify-content-between">
                        <span>
                            <span class="mr-3">Messages</span>
                            <span id="spnmessage" class="count-badge red">4</span>
                        </span>
                        <a class="view-all-msg" href="#">View all</a>
                    </h6>
                    <a class="dropdown-item" href="#">
                        Some notification
                    </a>
                    <a class="dropdown-item" href="#">
                        Some other notification Some other notification
                    </a>
                </div>
            </div>
            <div class="dropdown user-dd">
                <div class="user-profile-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="profile-picture" src="@Url.Content("~/Content/src/images/person.jpg")" alt="" />
                    <p>
                        <strong>@SessionHelper.UserName</strong>
                        <span>Technology Brac</span>
                    </p>
                </div>

                <div class="dropdown-menu fw-dropdown-menu datatree-menu">
                    <a class="dropdown-item" href="#">
                        <img class="menu-item-img" src="@Url.Content("~/Content/src/images/svg/profile.svg")" alt="Profile" />
                        <span>Profile</span>
                    </a>
                    <a class="dropdown-item" href="@SsoUtility.SsoLogout?site=@SsoUtility.Site">
                        <img class="menu-item-img" src="@Url.Content("~/Content/src/images/svg/sign_out.svg")" alt="Sign Out" />
                        <span>
                            Sign Out
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="long-nav">
        <div class="container-custom">
            <div class="row">
                <div class="long-nav-header col-lg-3">
                    <span>COVID-19 Response Dashboard</span>
                    <span class="long-nav-toggler">☰</span>
                </div>
                <div class="long-nav-items-wrapper col-lg-9">
                    <a href="@Url.Content("~/Main/Dashboard")" class="active long-nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="29.994" height="30" viewBox="0 0 29.994 30"><g transform="translate(650.722 356.96)"><path d="M-580.534-295.983a9.23,9.23,0,0,1-9.383,9.272,9.267,9.267,0,0,1-9.145-9.3,9.233,9.233,0,0,1,9.262-9.224A9.23,9.23,0,0,1-580.534-295.983Zm-9.25-2.35c-.716,0-1.431-.007-2.147,0a.856.856,0,0,0-.94.844.888.888,0,0,0,.948.9q2.147.016,4.294,0a.864.864,0,0,0,.91-.882.833.833,0,0,0-.919-.856C-588.352-298.34-589.068-298.332-589.784-298.333Zm0,4.748c.69,0,1.379,0,2.069,0,.625,0,.994-.328,1-.864s-.357-.87-.983-.873q-2.088-.008-4.176,0a.879.879,0,0,0-.985.879.879.879,0,0,0,.971.858C-591.188-293.58-590.486-293.585-589.784-293.585Z" transform="translate(-40.194 -40.249)" fill="#fff" /><path d="M-638.082-350.616c0,1.945-.01,3.89.008,5.834,0,.394-.126.5-.506.5-3.877-.012-7.754-.007-11.631-.008-.507,0-.509,0-.509-.516q0-4.529,0-9.059a3.023,3.023,0,0,1,3.071-3.063q4.529-.006,9.059,0c.5,0,.506,0,.507.518Q-638.081-353.514-638.082-350.616Zm-5.423-1.674c0-.141,0-.281,0-.422a.883.883,0,0,0-.875-.962.871.871,0,0,0-.91.926c-.017.306-.012.614,0,.921,0,.226-.088.328-.318.322-.307-.007-.614-.012-.92,0a.872.872,0,0,0-.93.906.881.881,0,0,0,.957.879,7.307,7.307,0,0,0,.767,0c.325-.025.475.083.448.43a5.443,5.443,0,0,0,.007.882.857.857,0,0,0,.931.86.857.857,0,0,0,.845-.906c.013-.306.012-.614,0-.921-.008-.244.09-.35.338-.342.319.009.64.013.959-.005a.849.849,0,0,0,.872-.838.853.853,0,0,0-.818-.931,5.107,5.107,0,0,0-.575-.015C-643.593-351.517-643.5-351.4-643.5-352.29Z" transform="translate(0 -0.022)" fill="#fff" /><path d="M-585.935-351.127c0-1.778.008-3.556-.007-5.334,0-.385.124-.5.51-.5,3.044.014,6.089,0,9.133.01a3.023,3.023,0,0,1,3.04,3.018c.014,2.724.005,5.449,0,8.174,0,.124.047.286-.065.361-.143.1-.259-.053-.372-.123a10.858,10.858,0,0,0-6.537-1.7,10.693,10.693,0,0,0-5.169,1.653c-.136.086-.286.268-.435.194-.179-.089-.1-.323-.1-.5Q-585.939-348.5-585.935-351.127Zm6.3,1.389c.729,0,1.459.013,2.188,0a.891.891,0,0,0,.929-.876.872.872,0,0,0-.9-.9c-1.445-.02-2.891-.014-4.337,0a.851.851,0,0,0-.845.555.888.888,0,0,0,.9,1.221C-581.013-349.726-580.322-349.738-579.631-349.738Z" transform="translate(-50.397 0)" fill="#fff" /><path d="M-644.887-292.124q2.667,0,5.334,0c.147,0,.345-.057.418.1.059.131-.088.255-.161.371a10.834,10.834,0,0,0-1.693,6.462,10.82,10.82,0,0,0,1.686,5.277c.073.115.221.234.154.37-.079.163-.274.093-.418.093q-4.01.005-8.02,0a3.034,3.034,0,0,1-3.129-3.125q0-4.509,0-9.018c0-.531,0-.535.534-.536Q-647.534-292.126-644.887-292.124Zm2.926,4.745a.809.809,0,0,0-.491-.734.839.839,0,0,0-.964.132,9.219,9.219,0,0,0-.708.7c-.186.2-.337.231-.531.01s-.409-.422-.624-.623a.862.862,0,0,0-1.266-.036.87.87,0,0,0,.015,1.269c.206.227.423.445.649.651.182.166.194.3.008.473-.234.217-.46.444-.676.678a.86.86,0,0,0-.044,1.237.855.855,0,0,0,1.267.018c.249-.22.483-.457.711-.7.161-.171.289-.158.446.006a10.073,10.073,0,0,0,.74.722.844.844,0,0,0,1.235-.054.863.863,0,0,0-.028-1.21c-.216-.235-.442-.462-.677-.678-.19-.175-.214-.318-.007-.5.229-.2.438-.429.653-.647A.955.955,0,0,0-641.96-287.379Z" transform="translate(-0.004 -50.441)" fill="#fff" /></g></svg>
                        <p>
                            <span>Current</span>
                            <span>Counts</span>
                        </p>
                    </a>
                    <a href="~/Analytics" class="long-nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><g transform="translate(-2.744 -4.744)"><rect width="8" height="21" transform="translate(2.744 13.744)" fill="#fff" /><rect width="8" height="13" transform="translate(13.744 21.744)" fill="#fff" /><rect width="8" height="30" transform="translate(24.744 4.744)" fill="#fff" /></g></svg>
                        <p>
                            <span>Comparison</span>
                            <span>Chart View</span>
                        </p>
                    </a>
                    <a href="~/Main/GisMap" class="long-nav-item">
                        <?xml version="1.0" encoding="utf-8" ?>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 29.3" style="enable-background:new 0 0 22 29.3;" xml:space="preserve"><style type="text/css">
                                                                                                                                                                                                                                                .st0 {
                                                                                                                                                                                                                                                    fill: #FFFFFF;
                                                                                                                                                                                                                                                }
</style><g><path class="st0" d="M11.1,9.3c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1l0,0c0.6,0,1.1-0.5,1.1-1.1C12.2,9.8,11.7,9.3,11.1,9.3z" /><path class="st0" d="M10.4,8.2C10.4,8.2,10.4,8.2,10.4,8.2c0.6,0,1.1-0.5,1.1-1.1C11.4,6.5,11,6,10.4,6l0,0C9.8,6,9.3,6.5,9.3,7.1C9.3,7.7,9.8,8.2,10.4,8.2z" /><path class="st0" d="M7.7,8.8c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1l0,0c0,0,0,0,0,0c0.6,0,1.1-0.5,1.1-1.1C8.8,9.3,8.3,8.8,7.7,8.8z" /><path class="st0" d="M9.7,12.1C9.6,12.1,9.6,12.1,9.7,12.1c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1l0,0c0.6,0,1.1-0.5,1.1-1.1C10.7,12.6,10.2,12.1,9.7,12.1z" /><path class="st0" d="M11,0C4.9,0,0,4.9,0,11c0,4.4,1.5,5.7,9.9,17.7h0c0.1,0.1,0.2,0.3,0.3,0.3c0.6,0.4,1.5,0.3,1.9-0.3C20.5,16.7,22,15.4,22,11C22,4.9,17.1,0,11,0z M18.5,10.8c-0.2-0.3-0.6-0.5-1-0.5c-0.3,0-0.6,0-1,0c-0.2,0-0.2,0.1-0.2,0.2s0,0.2,0.2,0.2c0.5,0,0.5,0,0.4,0.5c-0.1,0.4-0.2,0.8-0.3,1.1c0,0.1-0.1,0.2-0.2,0.1c-0.1,0-0.1-0.1-0.2-0.1c-0.1-0.1-0.2-0.1-0.3,0.1c-0.1,0.1-0.1,0.2,0.1,0.3c0.3,0.2,0.6,0.3,0.9,0.5c0.3,0.2,0.7,0.2,1,0.1c0.3-0.1,0.5,0,0.5,0.4c0,0.4-0.2,0.8-0.6,1c-0.3,0.2-0.5,0.1-0.5-0.2c-0.1-0.4-0.3-0.7-0.6-0.9c-0.3-0.2-0.6-0.3-0.9-0.5c-0.1-0.1-0.2,0-0.3,0.1s-0.1,0.2,0,0.3c0,0,0,0,0.1,0c0.4,0.2,0.4,0.2,0.1,0.6c-0.3,0.3-0.6,0.6-0.9,0.9c-0.1,0.1-0.2,0.1-0.2,0c0-0.1-0.1-0.1-0.1-0.2c-0.1-0.2-0.1-0.2-0.4-0.1c-0.1,0.1-0.1,0.1-0.1,0.2c0.2,0.3,0.4,0.6,0.6,1c0.2,0.3,0.5,0.5,0.8,0.5c0.3,0.1,0.4,0.2,0.2,0.5c-0.2,0.4-0.7,0.6-1.1,0.6c-0.3,0-0.4-0.2-0.3-0.4c0.1-0.4,0.1-0.8-0.1-1.1c-0.2-0.3-0.3-0.6-0.5-0.9c-0.1-0.1-0.2-0.1-0.3,0s-0.2,0.1-0.1,0.3c0,0,0,0,0,0c0.2,0.4,0.2,0.4-0.2,0.6c-0.4,0.1-0.8,0.2-1.2,0.3c-0.1,0-0.2,0-0.2-0.1c0-0.1,0-0.2,0-0.2c0-0.2-0.1-0.2-0.3-0.2c-0.1,0-0.2,0.1-0.2,0.2c0,0.4,0,0.7,0,1.1c0,0.3,0.2,0.6,0.4,0.9c0.3,0.3,0.3,0.5-0.1,0.6c-0.4,0.2-0.8,0.2-1.2-0.1c-0.2-0.1-0.3-0.3,0-0.5c0.3-0.3,0.5-0.7,0.5-1.1c0-0.3,0-0.6,0-0.9c0-0.2-0.1-0.2-0.2-0.2s-0.2,0-0.2,0.2c0,0,0,0,0,0c0,0.5,0,0.5-0.5,0.4c-0.4-0.1-0.8-0.2-1.2-0.3c-0.1,0-0.2-0.1-0.1-0.2c0-0.1,0.1-0.1,0.1-0.2c0.1-0.2,0.1-0.2-0.1-0.3c-0.1-0.1-0.2,0-0.3,0.1c-0.2,0.3-0.4,0.6-0.5,0.9c-0.2,0.3-0.2,0.6-0.1,1c0.1,0.4,0,0.5-0.4,0.5c-0.4,0-0.8-0.2-1-0.6c-0.2-0.3-0.1-0.5,0.2-0.6c0.3-0.1,0.6-0.3,0.8-0.6c0.2-0.3,0.4-0.6,0.5-0.9c0.1-0.2,0-0.2-0.1-0.3s-0.2-0.1-0.3,0c0,0,0,0,0,0c-0.2,0.4-0.2,0.4-0.6,0.1c-0.3-0.3-0.6-0.5-0.8-0.9c-0.1-0.1-0.1-0.2,0-0.2c0.1,0,0.1-0.1,0.2-0.1c0.2-0.1,0.2-0.2,0.1-0.3c-0.1-0.1-0.1-0.1-0.3-0.1c-0.3,0.2-0.6,0.4-0.9,0.5c-0.3,0.2-0.5,0.5-0.6,0.8c-0.1,0.3-0.2,0.4-0.5,0.2c-0.4-0.3-0.6-0.7-0.6-1.2c0-0.2,0.2-0.3,0.4-0.2c0.5,0.2,1,0.1,1.4-0.2c0.2-0.1,0.4-0.3,0.7-0.4c0.2-0.1,0.1-0.2,0.1-0.3s-0.1-0.2-0.3-0.1c-0.4,0.2-0.4,0.2-0.6-0.2c-0.1-0.4-0.2-0.8-0.3-1.2C4.8,11,4.8,11,5,11c0.1,0,0.2,0,0.2,0c0.2,0,0.2,0,0.2-0.3c0-0.1-0.1-0.2-0.2-0.2c-0.2,0-0.4,0-0.6,0c-0.1,0-0.3,0-0.4,0c-0.4,0-0.7,0.1-1,0.4c-0.2,0.3-0.4,0.2-0.6-0.1c-0.2-0.4-0.2-0.8,0-1.2c0.2-0.3,0.4-0.3,0.6-0.1c0.2,0.3,0.6,0.4,0.9,0.4c0.3,0,0.7,0,1,0c0.2,0,0.2-0.1,0.2-0.2s0-0.2-0.2-0.2c-0.4,0-0.5,0-0.4-0.5C4.9,8.8,5,8.4,5.2,8c0-0.1,0.1-0.2,0.2-0.1C5.5,8,5.5,8,5.6,8c0.2,0.1,0.4,0,0.4-0.2c0-0.1,0-0.1-0.1-0.1C5.5,7.5,5.2,7.3,4.8,7.1C4.5,7,4.2,7,4,7.1c-0.4,0.1-0.5,0-0.5-0.4c0-0.4,0.2-0.8,0.6-1c0.3-0.2,0.5-0.1,0.5,0.2c0.1,0.4,0.3,0.7,0.6,0.9c0.3,0.2,0.6,0.3,0.9,0.5c0.1,0.1,0.2,0,0.2-0.1s0.2-0.2,0-0.3c0,0,0,0-0.1,0C5.9,6.7,5.9,6.7,6.2,6.3C6.4,6,6.7,5.7,7.1,5.5c0.1-0.1,0.2-0.1,0.2,0c0,0.1,0.1,0.1,0.1,0.2c0.1,0.2,0.2,0.2,0.4,0.1c0.1-0.1,0.1-0.1,0.1-0.2c-0.2-0.3-0.4-0.7-0.6-1C7,4.3,6.8,4.1,6.4,4C6.1,4,6,3.8,6.2,3.5c0.2-0.4,0.7-0.6,1.1-0.6c0.3,0,0.4,0.2,0.3,0.4C7.5,3.7,7.5,4.2,7.8,4.5C7.9,4.8,8.1,5,8.2,5.3c0.1,0.1,0.2,0.1,0.3,0s0.2-0.1,0.1-0.3c0,0,0,0,0-0.1C8.4,4.6,8.3,4.7,8.7,4.5C9.1,4.4,9.5,4.2,10,4.2c0.1,0,0.2,0,0.2,0.2c0,0.1,0,0.1,0,0.2c0,0.2,0.1,0.2,0.3,0.2c0.1,0,0.2-0.1,0.2-0.2c0-0.4,0-0.7,0-1.1c0-0.3-0.2-0.6-0.4-0.9C9.9,2.4,9.9,2.2,10.3,2c0.4-0.2,0.8-0.1,1.2,0.1c0.2,0.1,0.3,0.3,0,0.5C11.2,2.9,11,3.3,11,3.7c0,0.3,0,0.6,0,0.9c0,0.2,0.1,0.2,0.2,0.2s0.2,0,0.2-0.2c0,0,0,0,0,0c0-0.5,0-0.5,0.5-0.4c0.4,0.1,0.8,0.2,1.2,0.3c0.1,0,0.2,0.1,0.1,0.2c0,0.1-0.1,0.1-0.1,0.2C13,5.1,13,5.1,13.2,5.3c0.1,0.1,0.2,0,0.3-0.1c0.2-0.3,0.3-0.6,0.5-0.9c0.2-0.3,0.2-0.7,0.1-1c-0.1-0.3,0-0.5,0.3-0.5c0.4,0,0.8,0.2,1,0.6c0.2,0.3,0.1,0.5-0.2,0.6c-0.3,0.1-0.6,0.3-0.8,0.5c-0.2,0.3-0.4,0.6-0.6,1c-0.1,0.1,0,0.2,0.1,0.2s0.2,0.2,0.3,0c0,0,0-0.1,0-0.1c0.2-0.4,0.2-0.4,0.5-0.1c0.3,0.3,0.6,0.6,0.9,0.9c0.1,0.1,0.1,0.2,0,0.2c-0.1,0-0.1,0.1-0.2,0.1c-0.2,0.1-0.2,0.2-0.1,0.3c0.1,0.1,0.1,0.2,0.3,0.1c0.3-0.2,0.6-0.3,0.9-0.5c0.3-0.2,0.5-0.5,0.6-0.8c0.1-0.3,0.2-0.4,0.5-0.2c0.4,0.2,0.6,0.7,0.6,1.1c0,0.3-0.2,0.4-0.4,0.3c-0.4-0.1-0.8-0.1-1.1,0.1c-0.3,0.2-0.6,0.3-0.8,0.5c-0.2,0.1-0.1,0.2,0,0.3s0.1,0.2,0.3,0.1c0,0,0,0,0,0c0.4-0.2,0.4-0.2,0.6,0.2c0.1,0.4,0.2,0.8,0.3,1.2c0,0.1,0,0.2-0.1,0.2c-0.1,0-0.2,0-0.2,0c-0.2,0-0.2,0.1-0.2,0.3c0,0.1,0.1,0.2,0.2,0.2c0.4,0,0.7,0,1.1,0c0.3,0,0.6-0.2,0.9-0.4c0.3-0.3,0.5-0.3,0.6,0.1c0.2,0.4,0.2,0.8,0,1.2C18.9,11.1,18.7,11.1,18.5,10.8z" /><path class="st0" d="M13.9,7.7c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1l0,0c0.6,0,1.1-0.5,1.1-1.1C15,8.2,14.5,7.7,13.9,7.7z" /><path class="st0" d="M13.6,11.1c-0.6,0-1.1,0.5-1.1,1.1c0,0,0,0,0,0c0,0.6,0.5,1.1,1.1,1.1l0,0c0.6,0,1.1-0.5,1.1-1.1C14.7,11.6,14.2,11.1,13.6,11.1z" /></g></svg>
                        <p>
                            <span>Current</span>
                            <span>Infection</span>
                        </p>
                    </a>
                    <a href="~/Main/WorldMap" class="long-nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32.25" height="32.249" viewBox="0 0 32.25 32.249"><path d="M806.627-950.266a1.18,1.18,0,0,0-1.191,1.18,1.193,1.193,0,0,0,1.164,1.212,1.173,1.173,0,0,0,1.186-1.184A1.164,1.164,0,0,0,806.627-950.266Z" transform="translate(-790.138 965.498)" fill="#fff" /><path d="M832.905-931.764a1.221,1.221,0,0,0-1.246,1.133,1.232,1.232,0,0,0,1.166,1.257,1.229,1.229,0,0,0,1.225-1.16A1.209,1.209,0,0,0,832.905-931.764Z" transform="translate(-811.384 950.506)" fill="#fff" /><path d="M791.9-921.24a1.211,1.211,0,0,0-1.2,1.184,1.2,1.2,0,0,0,1.207,1.2,1.184,1.184,0,0,0,1.173-1.193A1.21,1.21,0,0,0,791.9-921.24Z" transform="translate(-778.198 941.977)" fill="#fff" /><path d="M772.07-955.509a1.2,1.2,0,0,0-1.181,1.192,1.214,1.214,0,0,0,1.189,1.192,1.221,1.221,0,0,0,1.2-1.217A1.216,1.216,0,0,0,772.07-955.509Z" transform="translate(-762.143 969.746)" fill="#fff" /><path d="M756.809-1015.622c-.29-.722-.716-.787-1.235-.213a2.267,2.267,0,0,1-1.664.8c-.7.021-1.393,0-2.089.01-.276,0-.372-.1-.384-.381-.015-.352.091-.529.468-.489.15.016.3,0,.456,0,.236.007.307-.09.267-.328a12.41,12.41,0,0,0-.583-2.275c-.316-.851-.318-.85-1.092-.416a.233.233,0,0,0-.033.019c-.271.224-.389.04-.517-.178s-.224-.386.082-.551c.557-.3,1.1-.62,1.647-.944a2.375,2.375,0,0,1,2.146-.208c.537.2.85-.014.844-.588a2.444,2.444,0,0,0-1.174-2.134c-.556-.358-.905-.192-1.024.457a2.279,2.279,0,0,1-1.1,1.608c-.584.354-1.188.677-1.771,1.033-.253.154-.364.066-.51-.151-.2-.3-.18-.5.172-.634.128-.05.237-.146.362-.206.256-.123.247-.261.076-.468a12.722,12.722,0,0,0-1.707-1.724c-.634-.524-.637-.52-1.036.177-.031.055-.066.108-.1.164-.187.35-.378.077-.563,0s-.315-.187-.167-.431c.375-.616.721-1.25,1.1-1.867a2.249,2.249,0,0,1,1.551-1.061c.664-.133.837-.524.449-1.082a2.419,2.419,0,0,0-2.014-1.11c-.673-.014-.875.265-.65.908a2.291,2.291,0,0,1-.175,1.974c-.325.573-.665,1.137-.983,1.712-.131.236-.26.3-.508.147-.4-.243-.413-.247-.171-.666a3.457,3.457,0,0,1,.189-.329c.167-.226.106-.348-.149-.441a12.543,12.543,0,0,0-2.264-.628c-.86-.139-.861-.136-.892.742a.249.249,0,0,0,0,.038c.029.335-.185.353-.438.358-.271.005-.435-.056-.428-.374.013-.6.007-1.19,0-1.786a2.5,2.5,0,0,1,.918-2.073c.422-.349.391-.717-.086-1a2.485,2.485,0,0,0-2.3-.133c-.725.287-.792.717-.22,1.233a2.266,2.266,0,0,1,.8,1.663c.021.7,0,1.393.01,2.089,0,.273-.1.377-.377.388-.348.013-.535-.082-.493-.464.015-.138,0-.279,0-.417.014-.268-.08-.352-.362-.3a12.328,12.328,0,0,0-2.344.62c-.915.35-.755.265-.356.982a1.222,1.222,0,0,0,.074.132c.216.3-.024.388-.22.51s-.369.188-.519-.094c-.267-.5-.548-1-.854-1.48a2.523,2.523,0,0,1-.285-2.385c.174-.457-.033-.741-.525-.762a2.394,2.394,0,0,0-2.212,1.155c-.363.553-.2.9.451,1.024a2.189,2.189,0,0,1,1.5.946c.416.65.784,1.33,1.177,1.995.11.185.054.292-.117.4-.426.272-.467.269-.721-.163-.064-.109-.133-.216-.187-.33-.12-.254-.256-.254-.466-.081a12.789,12.789,0,0,0-1.724,1.707c-.525.635-.521.638.175,1.036.044.025.086.055.131.076.375.173.127.38.037.583-.1.228-.224.3-.467.149-.571-.351-1.158-.677-1.738-1.015a2.323,2.323,0,0,1-1.165-1.65c-.115-.608-.485-.786-1.009-.453a2.4,2.4,0,0,0-1.172,1.976c-.041.752.233.956.94.715a2.058,2.058,0,0,1,1.628.044c.723.363,1.414.789,2.117,1.191.086.049.168.1.15.234-.059.447-.366.608-.753.385a3.978,3.978,0,0,1-.362-.208c-.224-.164-.327-.072-.413.152a11.7,11.7,0,0,0-.629,2.263c-.147.875-.141.889.728.9.324,0,.411.131.411.432s-.074.449-.4.441c-.658-.015-1.317.01-1.975-.01a2.311,2.311,0,0,1-1.795-.85c-.409-.495-.83-.463-1.122.105a2.522,2.522,0,0,0-.018,2.34c.29.6.692.642,1.138.137a2.378,2.378,0,0,1,1.912-.843c.266,0,.532,0,.8,0,.367,0,.734.008,1.1,0,.261-.008.357.1.36.361,0,.453-.028.5-.485.5-.152,0-.3,0-.456,0-.218,0-.286.1-.25.312a12.276,12.276,0,0,0,.567,2.24c.326.884.336.9,1.156.432.309-.175.393,0,.519.2.138.224.185.4-.107.548-.438.228-.87.47-1.283.739a2.712,2.712,0,0,1-2.626.367c-.382-.151-.635.049-.693.458a2.539,2.539,0,0,0,1.171,2.317c.555.305.889.156,1-.469a2.279,2.279,0,0,1,1.1-1.609c.584-.354,1.187-.679,1.771-1.034.244-.148.369-.092.514.139.184.295.2.5-.165.64-.128.049-.237.146-.362.206-.242.117-.273.246-.093.465a12.921,12.921,0,0,0,1.618,1.654c.706.6.711.593,1.183-.185a.316.316,0,0,0,.02-.033c.144-.335.341-.186.546-.068s.372.2.194.487c-.366.592-.7,1.206-1.052,1.8a2.262,2.262,0,0,1-1.571,1.094c-.662.132-.843.521-.46,1.079a2.41,2.41,0,0,0,1.934,1.111c.753.038.961-.235.722-.938a2.223,2.223,0,0,1,.15-1.87c.331-.6.685-1.183,1.016-1.781.128-.231.253-.307.507-.154.4.243.416.25.178.664a3.466,3.466,0,0,1-.189.329c-.163.222-.115.348.145.443a12.622,12.622,0,0,0,2.264.628c.863.141.863.137.894-.74a.326.326,0,0,0,0-.038c-.03-.333.181-.356.436-.36s.437.052.43.372c-.012.595-.007,1.19,0,1.785a2.5,2.5,0,0,1-.917,2.074c-.424.35-.394.717.083,1a2.479,2.479,0,0,0,2.334.119c.7-.292.753-.708.189-1.216a2.266,2.266,0,0,1-.8-1.662c-.022-.7,0-1.393-.01-2.089,0-.271.093-.38.374-.39.346-.012.537.078.5.462-.016.15,0,.3,0,.455-.007.229.078.316.322.275a12.51,12.51,0,0,0,2.312-.595c.815-.3.814-.306.388-1.077a.542.542,0,0,0-.038-.066c-.229-.3.039-.381.223-.5.206-.137.369-.184.519.092.308.567.635,1.124.963,1.68a2.352,2.352,0,0,1,.194,2.112c-.2.54.009.854.581.849a2.43,2.43,0,0,0,2.155-1.2c.337-.543.168-.878-.468-.995a2.228,2.228,0,0,1-1.566-1.037c-.38-.612-.723-1.249-1.094-1.867-.13-.217-.07-.333.131-.454.421-.255.43-.26.682.176.063.11.135.215.19.328.12.25.254.259.467.083a12.748,12.748,0,0,0,1.7-1.677c.55-.66.545-.664-.18-1.084a1.054,1.054,0,0,0-.1-.058c-.342-.152-.16-.35-.054-.55s.212-.354.49-.18c.569.355,1.158.677,1.737,1.016a2.316,2.316,0,0,1,1.161,1.652c.112.6.483.776,1.014.444a2.383,2.383,0,0,0,1.17-2.014c.029-.706-.247-.907-.908-.682a2.284,2.284,0,0,1-1.941-.164c-.584-.33-1.157-.68-1.747-1-.277-.149-.256-.3-.128-.545.162-.309.339-.37.619-.156.109.084.248.129.359.211.233.172.349.091.439-.156a12.729,12.729,0,0,0,.622-2.227c.151-.892.147-.9-.742-.92-.3-.006-.4-.124-.393-.411,0-.272.027-.471.379-.463.62.015,1.24,0,1.861,0a2.446,2.446,0,0,1,1.971.891c.379.453.753.421,1.05-.095A2.5,2.5,0,0,0,756.809-1015.622Zm-16.911-7.039a2.126,2.126,0,0,1,2.094,2.11,2.088,2.088,0,0,1-2.086,2.1,2.132,2.132,0,0,1-2.129-2.117A2.153,2.153,0,0,1,739.9-1022.661Zm-5.161,9.613a2.122,2.122,0,0,1-2.107-2.091,2.168,2.168,0,0,1,2.105-2.116,2.129,2.129,0,0,1,2.109,2.134A2.073,2.073,0,0,1,734.736-1013.048Zm3.723,6.513a2.126,2.126,0,0,1-2.063-2.139,2.063,2.063,0,0,1,2.1-2.072,2.127,2.127,0,0,1,2.107,2.1A2.172,2.172,0,0,1,738.459-1006.535Zm2.774-5.489a2.155,2.155,0,0,1-2.092-2.125,2.156,2.156,0,0,1,2.113-2.1,2.134,2.134,0,0,1,2.1,2.106A2.131,2.131,0,0,1,741.233-1012.024Zm4.985,3.473a2.086,2.086,0,0,1-2.088-2.109,2.137,2.137,0,0,1,2.109-2.1,2.168,2.168,0,0,1,2.1,2.125A2.134,2.134,0,0,1,746.218-1008.551Zm.477-6.554a2.127,2.127,0,0,1-2.087-2.119,2.133,2.133,0,0,1,2.111-2.1,2.131,2.131,0,0,1,2.106,2.14A2.128,2.128,0,0,1,746.694-1015.106Z" transform="translate(-724.778 1030.566)" fill="#fff" /><path d="M799.4-981.757a1.135,1.135,0,0,0,1.167-1.181,1.14,1.14,0,0,0-1.181-1.171,1.16,1.16,0,0,0-1.172,1.187A1.141,1.141,0,0,0,799.4-981.757Z" transform="translate(-784.282 992.92)" fill="#fff" /><path d="M835.569-966.434a1.134,1.134,0,0,0-1.184,1.166,1.134,1.134,0,0,0,1.165,1.184,1.135,1.135,0,0,0,1.184-1.165A1.135,1.135,0,0,0,835.569-966.434Z" transform="translate(-813.596 978.598)" fill="#fff" /></svg>
                        <p>
                            <span>World Status</span>
                            <span>of COVID-19</span>
                        </p>
                    </a>
                    <a href="~/StandingView/Index/SRC" class="long-nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22.5" height="30" viewBox="0 0 22.5 30"><path d="M10.094,29.395C1.58,17.053,0,15.786,0,11.25a11.25,11.25,0,0,1,22.5,0c0,4.536-1.58,5.8-10.094,18.145a1.407,1.407,0,0,1-2.312,0ZM11.25,15.937A4.687,4.687,0,1,0,6.562,11.25,4.687,4.687,0,0,0,11.25,15.937Z" fill="#fff" /></svg>
                        <p>
                            <span>BRAC</span>
                            <span>Programmes</span>
                        </p>
                    </a>
                    <a href="~/Main" class="long-nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30.881" height="30.881" viewBox="0 0 30.881 30.881"><g transform="translate(-787.396 -1027.867)"><path d="M818.277,1029.313v20.19a1.982,1.982,0,0,1-2.191,1.532H789.54a2.687,2.687,0,0,1-.63-.039,1.934,1.934,0,0,1-1.514-1.954q0-9.522,0-19.044a1.968,1.968,0,0,1,1.53-2.131h27.9A2.189,2.189,0,0,1,818.277,1029.313ZM806.706,1045.2h0c1.787,0,3.575-.005,5.363.005.3,0,.406-.082.4-.392-.012-1.667-.009-3.334,0-5,0-.256-.075-.354-.344-.354q-5.393.01-10.786,0c-.388,0-.4.011-.4.417q0,2.471,0,4.941c0,.368.014.379.4.379Zm.008-11.523c-1.806,0-3.613,0-5.419,0-.255,0-.359.075-.356.344q.017,1.565,0,3.131c0,.267.1.344.355.344q5.4-.009,10.808,0c.3,0,.374-.112.37-.39-.013-1.013-.006-2.027-.007-3.041,0-.375-.009-.385-.394-.385Zm-10.63,11.525c.844,0,1.687-.006,2.531,0,.255,0,.358-.077.357-.345q-.013-2.531,0-5.062c0-.245-.078-.339-.33-.338q-2.546.01-5.092,0c-.229,0-.325.073-.324.312q.01,2.546,0,5.092c0,.27.1.345.357.342C794.416,1045.194,795.25,1045.2,796.084,1045.2Zm.02-11.523c-.842,0-1.685.008-2.527,0-.259,0-.354.078-.352.344q.017,1.549,0,3.1c0,.269.072.375.356.373q2.527-.014,5.055,0c.245,0,.338-.08.336-.331q-.014-1.579,0-3.159c0-.254-.1-.33-.339-.327C797.789,1033.683,796.947,1033.677,796.1,1033.678Z" fill="#fff" /><path d="M827.966,1194.356a2.008,2.008,0,0,1-1.962-2.577c.316-1.025.72-2.023,1.081-3.034a.313.313,0,0,1,.343-.224q1.9.007,3.8,0c.227,0,.283.073.2.288-.526,1.432-1.035,2.871-1.574,4.3A1.967,1.967,0,0,1,827.966,1194.356Z" transform="translate(-32.515 -135.609)" fill="#fff" /><path d="M913.621,1188.525c.622,0,1.244.005,1.866,0a.326.326,0,0,1,.357.246c.351.982.733,1.954,1.06,2.944a2.043,2.043,0,0,1-3.865,1.317c-.513-1.382-1.013-2.769-1.518-4.154-.115-.315-.093-.349.233-.351.622,0,1.244,0,1.866,0Z" transform="translate(-104.723 -135.609)" fill="#fff" /></g></svg>
                        <p>
                            <span>Tabular</span>
                            <span>Data</span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-custom">
        @RenderBody()

    </div>
    @Html.Partial("_ModalPartial")
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bracjs")
    



    <script type="text/javascript">
        var jsonTopMenuData
        $(document).ready(function () {
        LoadMenuTopBRAC("@Url.Action("MenuData", "Main")");
        });
        function LoadMenuTopBRAC(url) {
        var jsonTopMenuText = $.ajax({
        url: url,
        dataType: "json",
        async: false
        }).responseText;

        jsonTopMenuData = JSON.parse(jsonTopMenuText);

        $("#spnactivities").empty();
        $("#spnactivities").html(jsonTopMenuData.act.length);
        $("#spnmessage").empty();
        $("#spnmessage").html(jsonTopMenuData.msg.length);

        $("#spnactivitiestop").empty();
        $("#spnactivitiestop").html(jsonTopMenuData.act.length);
        $("#spnmessagetop").empty();
        $("#spnmessagetop").html(jsonTopMenuData.msg.length);

        }
        @RenderSection("scripts", required: false)
    </script>
</body>
</html>

