<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>COVID-19 Response</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/brac")

</head>
@using AppProj.Web.Controllers;
@using AppProj.Web;
@using AppProj.Web.Helpers;

<body>

    @Html.Partial("_Header")

    @if (ViewBag.page == "dashboard" || ViewBag.page == "report")
    {
    <div class="container-custom mt-4">
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/brac/app.js">
        </script>
    </div>
    }
    else
    {
        <main class="main-wrapper">
            @Html.Partial("_leftmenu")
            <div class="page-content">
                <!-- <div class="fa fa-people-arrows"></div> -->

                @RenderBody()
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/existing")
                <script src="~/Scripts/brac/bootstrap-legacy.js"></script>

            </div>
        </main>
    }

    @Html.Partial("_ModalPartial")
    <script type="text/javascript">
        $.get("@Url.Content("~/Scripts/brac/site.js")",function()
        {
           
        });
      
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

