@model AppProj.Web.Models.SubmitModel
@{
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dialog1Body",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "openDialog1('Save')",
        LoadingElementId = "loading",
        OnFailure = "failure"
    };
}
@using (Ajax.BeginForm("Save", "DetailSubmission", ajaxOpt))
{
    @Html.ValidationSummary(true)
    if (Model != null)
    {
        @Html.HiddenFor(m => m.Id)
    }
    <table class="table-striped">
        <tr>
            <td class="title">
                তথ্যের উৎস
            </td>
            <td class="control">
                @Html.DropDownListFor(model => model.SourceId, Model.Sources, new { @class = "searchable-dropdown form-control" })
                @Html.ValidationMessageFor(model => model.SourceId)
            </td>
        </tr>
        <tr>
            <td class="title">
                জেলা
            </td>
            <td class="control">
                @Html.DropDownListFor(model => model.DistrictId, Model.Districts, new { @class = "searchable-dropdown form-control" })
                @Html.ValidationMessageFor(model => model.DistrictId)
            </td>
        </tr>
        <tr>
            <td class="title">
                উপজেলা / থানা
            </td>
            <td class="control">
                @Html.DropDownListFor(model => model.UpazillaId, Model.Upazillas, new { @class = "searchable-dropdown form-control" })
                @Html.ValidationMessageFor(model => model.UpazillaId)
            </td>
        </tr>
        <tr>
            <td class="title">
                তারিখ
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.Date, "{0:dd MMM, yyyy}", new { @class = "input-group datepicker flatpickr form-control input", @placeholder = "Date" })
                @Html.ValidationMessageFor(model => model.Date)
            </td>
        </tr>
        <tr>

        <td class="title">
            সম্ভাব্য রোগীর নাম
            <span data-toggle="tooltip" data-placement="top" title="Name of the patient showing symptoms<br>যে রোগীর মধ্যে উপসর্গগুলো দেখা দিয়েছে তার নাম"><img src="~/Content/toolsgray.png" width="30" /></span>
        </td>
        <td class="control">
            @Html.TextBoxFor(model => model.Name ,new { @class = "input-group form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td class="title">
            বয়স
        </td>
        <td class="control">
            @Html.TextBoxFor(model => model.Age, new { @class = "input-group form-control" })
            @Html.ValidationMessageFor(model => model.Age)
        </td>
    </tr>
    <tr>
        <td class="title">
            লিঙ্গ
        </td>
        <td class="control">
            @Html.DropDownListFor(model => model.GenderId, Model.Genders, new { @class = "searchable-dropdown form-control" })
            @Html.ValidationMessageFor(model => model.GenderId)
        </td>
    </tr>
    <tr>
        <td class="title">
            মোবাইল
            <span data-toggle="tooltip" data-placement="top" title="Mobile number of the patient<br>রোগীর মোবাইল নম্বর"><img src="~/Content/toolsgray.png" width="30" />
            </span>
        </td>
        <td class="control">
            @Html.TextBoxFor(model => model.Phone, new { @class = "input-group form-control" })
            @Html.ValidationMessageFor(model => model.Phone)
        </td>
    </tr>
    <tr>
        <td class="title">
            জ্বর আছে ?
            <span data-toggle="tooltip" data-placement="top" title="Does the patient have a fever?<br>রোগীর কি জ্বর আছে?"><img src="~/Content/toolsgray.png" width="30" />
            </span>
        </td>
        <td class="checkbox mb-3">
            @Html.CheckBoxFor(model => model.IsFever)
           
        </td>
    </tr>
    <tr>

        <td class="title">
            শুকনো কাশি আছে ?
            <span data-toggle="tooltip" data-placement="top" title="Does the patient have a dry cough?
                  রোগীর কি শুকনো কাঁশি হচ্ছে?"><img src="~/Content/toolsgray.png" width="30" />
            </span>
        </td>
        <td class="control">
            @Html.CheckBoxFor(model => model.IsDryCough)
        </td>
    </tr>
    <tr>
        <td class="title">
            শ্বাস কষ্ট আছে ?
            <span data-toggle="tooltip" data-placement="top" title="Does the patient have any difficulty breathing?<br>রোগীর কি নিঃশ্বাস নিতে অসুবিধা হচ্ছে?">
                <img src="~/Content/toolsgray.png" width="30" />
            </span>
        </td>
        <td class="control">
            @Html.CheckBoxFor(model => model.IsBreadth)
        </td>
    </tr>
    <tr>
        <td class="title">
            বিদেশ ফেরত অথবা করোনা আক্রান্ত এলাকায় ভ্রমণ করেছিল কি না ?
            <span data-toggle="tooltip" data-placement="top" title="Have they recently returned from overseas or have they recently visited any COVID infected area?<br>রোগী কি বিগত কয়েকদিনের মধ্যে বিদেশ থেকে ফিরেছেন অথবা বিদেশ ফেরত কারো সাথে দেখা করেছেন?">
                <img src="~/Content/toolsgray.png" width="30" />
            </span>
        </td>
        <td class="control">
            @Html.CheckBoxFor(model => model.IsContact)
        </td>
    </tr>
    <tr>
        <td class="title">
            পিন (যার কাছ থেকে ডাটা নেয়া হয়েছে )
            <span data-toggle="tooltip" data-placement="top" title="PIN of the staff who has given you the data<br>যে কর্মী থেকে আপনি তথ্য নিয়েছেন তার পিন">
                <img src="~/Content/toolsgray.png" width="30" />
            </span>
        </td>
        <td class="control">
            @Html.TextBoxFor(model => model.CollectedBy, new { @class = "input-group form-control" })
            @Html.ValidationMessageFor(model => model.CollectedBy)
        </td>
    </tr>
    <tr>
        <td class="title">
            মন্তব্য
            <span data-toggle="tooltip" data-placement="right" title=" Enter any comments or feedback that you may have<br>আপনার কোনো মন্তব্য থাকলে তা লিখুন ">
                <img src="~/Content/toolsgray.png" width="30" />
            </span>
        </td>
        <td class="control">
            @Html.TextAreaFor(model => model.Description, new { @class = "input-group form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <td class="control">
            <p>
                <input id="save-submit" type="submit" value="সেভ করুন" class="btn btn-bracify font-color-white" />
            </p>
        </td>
    </tr>
</table>

}
<script type="text/javascript">
    ValidatateForm("form0");
    $(document).ready(function () {



        $("#save-submit").click(function () {

            if (!confirm("Do you want to Save?")) {
                return false;
            }

        });

        $('#DistrictId').change(function (event) {
            LoadUpazialSearch($('#DistrictId').val());
        });

        window.LoadUpazialSearch = function (areaId) {
                var url = '@Url.Content("~/Main/GetUpazilaByDistrict")?id=' + areaId;
            LoadDropDownListWithCall('UpazillaId'
                    , url
                    , null
                    , null);
        }

        $('#Date').datepicker({
            format: "dd M, yyyy",
            autoclose: true,
            endDate: '+0d',
            startDate: null
        });

    });
</script>
