@model AppProj.Web.Models.UserProfileModel
@{
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dialog1Body",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "openDialog1('Change Password')",
        LoadingElementId = "loading",
        OnFailure = "failure"
    };
}
@using (Ajax.BeginForm("ChangePassword", "UserProfile",ajaxOpt))
{
    @Html.ValidationSummary(true, "Change Failed", new { @class = "alert alert-error" })
    <h2>
        <img class="utopia-icons2-small-img" src="~/Content/img/icons2/history.png">
        <span>Change Password</span>
    </h2>
    <br />
    <table border="0" cellpadding="4" cellspacing="3" width="100%">
        <tr>
            <td width="20%" class="title">
                @Html.LabelFor(model => model.Password)
            </td>
            <td class="control">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td class="title">
                @Html.LabelFor(model => model.NewPassword)
            </td>
            <td class="control">
                @Html.PasswordFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </td>
        </tr>
        <tr>
            <td class="title">
                @Html.LabelFor(model => model.ConfirmNewPassword)
            </td>
            <td class="control">
                @Html.PasswordFor(model => model.ConfirmNewPassword)
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="save-submit" type="submit" value="Save Password" class="btn btn-primary" />
            </td>
        </tr>
    </table>

}

<script type="text/javascript">
    ValidatateForm("form0");
</script>
