@model AppProj.Web.Models.DistrictSubmitModel
@{
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dialog1Body",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "openDialog1('Save')",
        LoadingElementId = "loading",
        OnFailure = "failure"
    };
}
@using (Ajax.BeginForm("Save", "DistrictSubmission", ajaxOpt))
{
    @Html.ValidationSummary(true)
    if (Model != null)
    {
        @Html.HiddenFor(m => m.DetailId)
        @Html.HiddenFor(m => m.SumId)
        @Html.HiddenFor(m => m.DivisionId)
        @Html.HiddenFor(m => m.DistrictId)
        @Html.HiddenFor(m => m.Date)
    }
    <table class="table-striped" style="width:100%">
        <tr>
            <td class="title" style="width:25%;">
                বিভাগ
            </td>
            <td class="control">
                <h3>@Model.DivisionName</h3>
            </td>
        </tr>
        <tr>
            <td class="title">
                জেলা
            </td>
            <td class="control">
                <h3>@Model.DistrictName</h3>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3>জেলার সর্ব মোট আপডেট</h3>
            </td>
        </tr>
        <tr>
            <td class="title">
                হাসপাতালের সংখ্যা
                <span data-toggle="tooltip" data-placement="top" title="The number of hospitals in the district<br>এই জেলায় হাসপাতালের  সংখ্যা">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.HospitalCount, new { @class = "input-group  form-control input" })
                @Html.ValidationMessageFor(model => model.HospitalCount)
                টি
            </td>
        </tr>
        <tr>
            <td class="title">
                আইসোলেশন বেড সংখ্যা
                <span data-toggle="tooltip" data-placement="top" title="The number of isolation beds in the district<br>এই জেলায় আইসোলেশন বেড এর সংখ্যা">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.BedCount, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.BedCount)
                টি
            </td>
        </tr>
        <tr>
            <td class="title">
                এই পর্যন্ত মোট বরাদ্দ চালের পরিমাণ (মেঃটন)
                <span data-toggle="tooltip" data-placement="top" title="The amount of rice that has been allocated to date in metric tons.<br>আজ পর্যন্ত যে পরিমাণ চাল বরাদ্দ করা হয়েছে তা মেঃটন -এ প্রকাশ করুন">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.PlannedRice, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.PlannedRice)
                মেঃ টন
            </td>
        </tr>
        @*<tr>
                <td class="title">
                    মোট ডাল বরাদ্ধ
                </td>
                <td class="control">
                    @Html.TextBoxFor(model => model.PlannedDal)
                    @Html.ValidationMessageFor(model => model.PlannedDal)
                    মেঃ টন
                </td>
            </tr>
            <tr>
                <td class="title">
                    মোট আলু বরাদ্ধ
                </td>
                <td class="control">
                    @Html.TextBoxFor(model => model.PlannedPotato)
                    @Html.ValidationMessageFor(model => model.PlannedPotato)
                    মেঃ টন
                </td>
            </tr>*@
        <tr>
            <td class="title">
                এই পর্যন্ত মোট বরাদ্দ নগদ অর্থের পরিমাণ (টাকা)
                <span data-toggle="tooltip" data-placement="top" title="The amount of money that has been allocated to date in Taka.<br>আজ পর্যন্ত যে পরিমাণ অর্থ বরাদ্দ করা হয়েছে তা টাকা-এ প্রকাশ করুন">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.PlannedMoney, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.PlannedMoney)
                টাকা
            </td>
        </tr>
        <tr>
            <td class="title">
                কোভিড ছাড়া অন্যান্য সেবা প্রাপ্ত রোগির সংখ্যা
                <span data-toggle="tooltip" data-placement="top" title="Number of patients other than COVID patients.<br>কোভিড রোগী বাদে অন্যান্য রোগীর সংখ্যা">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.OtherPatientCount, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.OtherPatientCount)
                টি
            </td>
        </tr>
        <tr>
            <td class="title">
                শ্বাস-কষ্ট সংক্রান্ত রোগির সেবা প্রাপ্তির সংখ্যা
                <span data-toggle="tooltip" data-placement="top" title="Total number of individuals who have breathing difficulties receiving treatment<br>শ্বাষকষ্টের সমস্যার জন্য চিকিৎসা গ্রহণ করছেন এমন রোগীর মোট সংখ্যা">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.BreathingPatientCount, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.BreathingPatientCount)
                টি
            </td>
        </tr>
        <tr>
            <td class="title">
                প্রসূতি স্বাস্থ্য সেবা কতজন নিয়েছেন
                <span data-toggle="tooltip" data-placement="right" title="Total number of pregnant women receiving treatment<br>চিকিৎসা প্রাপ্ত মোট গর্ভবতী মহিলাদের সংখ্যা">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.MaternalCount, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.MaternalCount)
                টি
            </td>
        </tr>
        @*<tr>
                <td class="title">
                    DC, CS, UNO এর নেয়া উদ্যোগ
                </td>
                <td class="control">
                    @Html.TextAreaFor(model => model.RemarksSum, new { @class = "input-group   form-control input"})
                    @Html.ValidationMessageFor(model => model.RemarksSum)
                </td>
            </tr>*@
        <tr>
            <th colspan="2">
                <h3>আজকের দিনের তথ্য</h3>
            </th>
        </tr>
        <tr>
            <td class="title">
                তারিখ
            </td>
            <td class="control">
                @String.Format("{0:dd MMM, yyyy}", Model.Date)
            </td>
        </tr>
        <tr>
            <td class="title">
                নতুন কোয়ারেন্টাইন
                <span data-toggle="tooltip" data-placement="top" title="Number of individuals that have been quarantined today<br>আজ নতুন করে কোয়ারেন্টাইনে যতজন গিয়েছেন তাদের সংখ্যা">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.NewQuarantine, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.NewQuarantine)
                জন
            </td>
        </tr>
        <tr>
            <td class="title">
                কোয়ারেন্টাইন থেকে রিলিজড
                <span data-toggle="tooltip" data-placement="top" title="Number of individuals that have been released from quarantine today.<br>আজ কোয়ারেন্টাইন শেষ হয়েছে যতজনের তাদের সংখ্যা">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.ReleasedQuarantine, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.ReleasedQuarantine)
                জন
            </td>
        </tr>

        <tr>
            <td class="title">
                Covid-19 টেস্ট করা হয়েছে
                <span data-toggle="tooltip" data-placement="top" title="Number of individuals that have been tested for COVID-19 today<br>আজ কোভিড ১৯ পরীক্ষা করা হয়েছে এমন কর্মচারীর সংখ্যা">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.DoTestOn, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.DoTestOn)
                জনের
            </td>
        </tr>

        <tr>
            <td class="title">
                মৃত্যুর সংখ্যা
                <span data-toggle="tooltip" data-placement="top" title="Number of deaths today<br>আজ মৃত্যুর সংখ্যা">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.Death, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.Death)
                জন
            </td>
        </tr>
        @if (Model.DistrictTypeValue == 1)
        {
            <tr>
                <th>
                    <h3>পণ্যের দাম এবং মজুরি সম্পর্কিত তথ্য</h3>
                    <span style="color:#ebc808">
                        @Html.CheckBoxFor(model => model.IsPriceUpdate)
                        (পরিবর্তন করতে চাইলে চেক করুন)
                    </span>
                </th>
                <td>
                    <div id="tblPrice">
                        <div class="form-group">
                            <label>মোটা চাল</label>
                            @Html.TextBoxFor(model => model.PriceRice, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceRice)
                        </div>
                        <div class="form-group">
                            <label>মসুর (আমদানিকৃত) সাধারন মানসম্পন্ন</label>
                            @Html.TextBoxFor(model => model.PriceDal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceDal)
                        </div>
                        <div class="form-group">
                            <label>আলু হল্যান্ড সাদা</label>
                            @Html.TextBoxFor(model => model.PricePotato, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PricePotato)
                        </div>
                        <div class="form-group">
                            <label>পেয়াজ (আমদানিকৃত)</label>
                            @Html.TextBoxFor(model => model.PriceOnion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceOnion)
                        </div>
                        <div class="form-group">
                            <label>সয়াবিন তেল (প্যাকেট)</label>
                            @Html.TextBoxFor(model => model.PriceOilPack, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceOilPack)
                        </div>
                        <div class="form-group">
                            <label>সয়াবিন তেল (লুজ)</label>
                            @Html.TextBoxFor(model => model.PriceOil, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceOil)
                        </div>

                        <div class="form-group">
                            <label>লবণ</label>
                            @Html.TextBoxFor(model => model.PriceSalt, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceSalt)
                        </div>
                        <div class="form-group">
                            <label>বেগুন সাধারনমান</label>
                            @Html.TextBoxFor(model => model.PriceEggPlant, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceEggPlant)
                        </div>
                        <div class="form-group">
                            <label>ডিম ফার্ম লাল</label>
                            @Html.TextBoxFor(model => model.PriceEgg, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceEgg)
                        </div>
                        <div class="form-group">
                            <label>কাঁচা মরিচ</label>
                            @Html.TextBoxFor(model => model.PriceChille, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceChille)
                        </div>
                        <div class="form-group">
                            <label>মিস্টি কুমড়া (প্রতি কেজি)</label>
                            @Html.TextBoxFor(model => model.PricePumpkin, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PricePumpkin)
                        </div>


                        <div class="form-group">
                            <label>প্রতিদিনের মজুরি কৃষি শ্রমিক (পুরুষ)</label>
                            @Html.TextBoxFor(model => model.AgroLaborSalaryMale, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AgroLaborSalaryMale)
                        </div>
                        <div class="form-group">
                            <label>প্রতিদিনের খোরাকি কৃষি শ্রমিক (পুরুষ)</label>
                            @Html.TextBoxFor(model => model.AgroLaborExpMale, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AgroLaborExpMale)
                        </div>
                        <div class="form-group">
                            <label>প্রতিদিনের মজুরি কৃষি শ্রমিক (নারী)</label>
                            @Html.TextBoxFor(model => model.AgroLaborSalaryFemale, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AgroLaborSalaryFemale)
                        </div>
                        <div class="form-group">
                            <label>প্রতিদিনের খোরাকি কৃষি শ্রমিক (নারী)</label>
                            @Html.TextBoxFor(model => model.AgroLaborExpFemale, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AgroLaborExpFemale)
                        </div>
                        <div class="form-group">
                            <label>প্রতিদিন এর আয় রিক্সাচালক (পুরুষ)</label>
                            @Html.TextBoxFor(model => model.RickPullIncome, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RickPullIncome)
                        </div>
                        <div class="form-group">
                            <label>প্রতিদিন এর মালিকের জমা (রিক্সাচালক-পুরুষ)</label>
                            @Html.TextBoxFor(model => model.RickPullExp, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RickPullExp)
                        </div>


                        <div class="form-group">
                            <label>প্রতিদিনের মজুরি রাজমিস্ত্রি (পুরুষ)</label>
                            @Html.TextBoxFor(model => model.CarpenterSalaryMale, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CarpenterSalaryMale)
                        </div>
                        <div class="form-group">
                            <label>প্রতিদিনের মজুরি সহকারি রাজমিস্ত্রি (পুরুষ)</label>
                            @Html.TextBoxFor(model => model.CarpenterAssSalaryMale, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CarpenterAssSalaryMale)
                        </div>
                        <div class="form-group">
                            <label>প্রতিদিনের মজুরি সহকারি রাজমিস্ত্রি (নারী)</label>
                            @Html.TextBoxFor(model => model.CarpenterAssSalaryFemale, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CarpenterAssSalaryFemale)
                        </div>
                        <div class="form-group">
                            <label>মন্তব্য</label>
                            @Html.TextBoxFor(model => model.PriceComment, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceComment)
                        </div>
                    </div>



                </td>
            </tr>
        }
        <tr>
            <td class="title">
                সামাজিক নিরাপত্তা তথ্য
                <span data-toggle="tooltip" data-placement="top" title="Social Distancing Information<br>সামাজিক দূরত্ব সম্পর্কিত তথ্য।">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td>
                <table class="table table-striped">
                    <tr>
                        <th colspan="2">মোট চাল বিতরণ</th>
                        <th colspan="2">মোট নগদ অর্থ বিতরণ</th>
                        <th rowspan="2">অন্নান্য</th>
                    </tr>
                    <tr>
                        <td> চাল (মেঃটন) </td>
                        <td> পরিবার </td>
                        <td> টাকা </td>
                        <td> পরিবার </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(model => model.Rice, new { @class = "input-group   form-control input", })মেঃ টন
                            @Html.ValidationMessageFor(model => model.Rice)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.ReliefFamily, new { @class = "input-group   form-control input", })
                            @Html.ValidationMessageFor(model => model.ReliefFamily)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Money, new { @class = "input-group   form-control input", })টাকা
                            @Html.ValidationMessageFor(model => model.Money)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.ReliefPerson, new { @class = "input-group   form-control input", })
                            @Html.ValidationMessageFor(model => model.ReliefPerson)
                        </td>

                        @*<td>
                                @Html.TextBoxFor(model => model.Dal, new { @class = "input-group   form-control input" , })মেঃ টন
                                @Html.ValidationMessageFor(model => model.Dal)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Potato, new { @class = "input-group   form-control input" , })মেঃ টন
                                @Html.ValidationMessageFor(model => model.Potato)
                            </td>*@

                        <td>
                            @Html.TextAreaFor(model => model.ReliefRemarks, new { @class = "input-group   form-control input" })
                            @Html.ValidationMessageFor(model => model.ReliefRemarks)
                        </td>
                        @*<td>
                                @Html.TextBoxFor(model => model.Onion, new { @class = "input-group   form-control input" , })মেঃ টন
                                @Html.ValidationMessageFor(model => model.Onion)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Salt, new { @class = "input-group   form-control input" , })মেঃ টন
                                @Html.ValidationMessageFor(model => model.Salt)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Oil, new { @class = "input-group   form-control input" , })মেঃ টন
                                @Html.ValidationMessageFor(model => model.Oil)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Soap, new { @class = "input-group   form-control input" , })মেঃ টন
                                @Html.ValidationMessageFor(model => model.Soap)
                            </td>*@
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <h3>এই সপ্তাহের তথ্য</h3>
            </th>
        </tr>
        <tr>
            <td class="title">
                স্থানীয় প্রশাসন কী ব্যবস্থা গ্রহণ করেছে?
                <span data-toggle="tooltip" data-placement="top" title="What preventative measures has the local government taken?<br>স্থনীয় সরকার কী ধরনের প্রতিরোধমূলক ব্যবস্থা গ্রহণ করেছে?
">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextAreaFor(model => model.LocalAdminMeasure, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.LocalAdminMeasure)
            </td>
        </tr>
        <tr>
            <td class="title">
                স্থানীয় প্রশাসন কর্তৃক ব্র্যাককে কী দাবি/অনুরোধ করা হয়েছে?
                <span data-toggle="tooltip" data-placement="top" title="The demands / requests made by the local government to BRAC<br>স্থানীয় সরকার কর্তৃক ব্র্যাক এর কাছে দাবী/ অনুরোধ।">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextAreaFor(model => model.Demand, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.Demand)
            </td>
        </tr>
        <tr>
            <td class="title">
                কী আতঙ্ক সৃষ্টি হয়েছিল এবং আতঙ্কের প্রকৃতি?
                <span data-toggle="tooltip" data-placement="top" title="What kind of panic due to the pandemic was caused and what was the extent of it?<br>মহামারী জনিত কারণে কী ধরনের আতঙ্কের সৃষ্টি হয়েছিলো এবং এই আতঙ্ক কী পরিমাণে  ছড়িয়েছে?">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextAreaFor(model => model.Panic, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.Panic)
            </td>
        </tr>
        <tr>
            <td class="title">
                সামাজিক সমস্যা সমূহ
                <span data-toggle="tooltip" data-placement="top" title="The number of social problems related to the pandemic / COVID-19<br>কোভিড ১৯ মহামারী চলাকালীন সময় সৃষ্ট বিভিন্ন সামাজিক সমস্যাগুলোর  সংখ্যা / কোভিড ১৯ মহামারী সম্পর্কিত সামাজিক সমস্যাগুলোর সংখ্যা।">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextAreaFor(model => model.SocialIssue, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.SocialIssue)
            </td>
        </tr>
        <tr>
            <td class="title">
                ব্র্যাকের স্টাফদের অনুভূতি কী?
                <span data-toggle="tooltip" data-placement="right" title="Emotional state of BRAC staff<br>ব্র্যাক কর্মীদের মানসিক অবস্থা।">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextAreaFor(model => model.BracThink, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.BracThink)
            </td>
        </tr>
        <tr>
            <td class="title">
                এনজিওরা কী করছে?
                <span data-toggle="tooltip" data-placement="top" title="What are the other NGO’s doing in regards to the pandemic?<br>মহামারী মোকাবিলায় অন্যান্য এনজিও কী ভূমিকা পালন করছে?">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextAreaFor(model => model.NgoDoing, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.NgoDoing)
            </td>
        </tr>
        <tr>
            <td class="title">
                অভাবী মানুষের অবস্থা কী?
                <span data-toggle="tooltip" data-placement="top" title="What is the condition of the under-priveleged individuals?<br>সুবিধাবঞ্চিত মানুষেরা কী অবস্থায় আছেন?">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextAreaFor(model => model.NeedyPeople, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.NeedyPeople)
            </td>
        </tr>
        <tr>
            <td class="title">
                ব্র্যাক কী করতে পারে?
                <span data-toggle="tooltip" data-placement="top" title="What can BRAC do for the individuals in need?<br>সাহায্যের প্রয়োজন রয়েছে এমন ব্যক্তির জন্য ব্র্যাক এর করনীয় কী?">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextAreaFor(model => model.BracDo, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.BracDo)
            </td>
        </tr>
        <tr>
            <td class="title">
                অন্য কোন সমস্যা / মন্তব্য
                <span data-toggle="tooltip" data-placement="top" title="Any other suggestions or comments?<br>অন্য কোনো পরামর্শ বা মতামত?">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextAreaFor(model => model.RemarksDetail, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.RemarksDetail)
            </td>
        </tr>
        @if (!string.IsNullOrEmpty(Model.Question1))
        {
            <tr>
                <td class="title">
                    @Model.Question1
                    @Html.HiddenFor(model => model.Question1Id)
                </td>
                <td class="control">
                    @Html.TextAreaFor(model => model.Answer1, new { @class = "input-group   form-control input" })
                    @Html.ValidationMessageFor(model => model.Answer1)
                </td>
            </tr>
        }
        @if (!string.IsNullOrEmpty(Model.Question2))
        {
            <tr>
                <td class="title">
                    @Model.Question2
                    @Html.HiddenFor(model => model.Question2Id)
                </td>
                <td class="control">
                    @Html.TextAreaFor(model => model.Answer2, new { @class = "input-group   form-control input" })
                    @Html.ValidationMessageFor(model => model.Answer2)
                </td>
            </tr>
        }
        <tr>
            <td class="title">
                জেলায় Covid-19 সদস্য
                <span data-toggle="tooltip" data-placement="top" title="Members of the committee who work for the COVID-19 response team for the district / zilla.<br>কমিটির সদস্য যারা জেলায় কোভিড ১৯ রেসপন্স টিমে কাজ করেন।">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>toolsgray
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.MemberCount, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.MemberCount)
                জন
            </td>
        </tr>
        <tr>
            <td class="title">
                উপজেলায় Covid-19 সদস্য
                <span data-toggle="tooltip" data-placement="top" title="Members of the committee who work for the COVID-19 response team for the sub-district / upazilla.<br>কমিটির সদস্য যারা  উপজেলায় কোভিড ১৯ রেসপন্স টিমে কাজ করেন।
">
                    <img src="~/Content/toolsgray.png" width="30" />
                </span>
            </td>
            <td class="control">
                @Html.TextBoxFor(model => model.MemberUpazillaCount, new { @class = "input-group   form-control input" })
                @Html.ValidationMessageFor(model => model.MemberUpazillaCount)
                জন
            </td>
        </tr>

    </table>
    <div class="control mt-3">
        <p>
            <input id="save-submit" type="submit" value="সেভ করুন" class="btn btn-bracify font-color-white">
        </p>
    </div>
}
<script type="text/javascript">
    ValidatateForm("form0");
    $(document).ready(function () {

        $("#save-submit").click(function () {

            if (!confirm("Do you want to Save?")) {
                return false;
            }

        });

        function Chk() {

            var c = $('#IsPriceUpdate').is(":checked");

            if (c == true) {
                $("#tblPrice").show();
            }
            else {
                $("#tblPrice").hide();
            }
        }

        $("#IsPriceUpdate").change(function () {

            Chk();
        });

        Chk();

    });
</script>
