@using AppProj.Web.Helpers;
@using AppProj.Web;
@model AppProj.Web.Models.SearchModel
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dialog1Body",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "openDialog1('জেলা ভিত্তিক তথ্য')",
        LoadingElementId = "loading",
        OnFailure = "failure"
    };
}


<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <h2 class="textPrimary"><img src="~/Content/img/icons2/burn_blu-ray2.png" class="utopia-icons2-small-img" style="padding-right:5px;"> বি.ডি.সি. - জেলার মন্তব্য</h2>
            </li>
        </ul>

    </div>
</div>

<section id="formElement" class="utopia-widget utopia-form-box section">
    <div class="utopia-widget-title">
        <img src="~/Content/img/icons2/zoom_in.png" class="utopia-widget-icon">
        <span class="muted">search elements</span>

        <span class="textPrimary" id="iTotalRecords" style="float:right; padding-right:10px;">0</span>
        <span class="textPrimary" style="float:right;">Total Records: </span>
    </div>

    <div class="row-fluid">
        <div class="utopia-widget-content">
            <div class="span3 utopia-form-freeSpace">
                <fieldset>
                    <div class="control-group ">
                        <label class="control-label" for="ContentTypeId1"> বিভাগ:</label>
                        <div class="controls">
                            @Html.DropDownListFor(model => model.ContentTypeId1, Model.ContentTypes1, "All Divisions", new { @class = "span12 ddl" })

                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="control-group ">
                        <label class="control-label" for="FromDate">সার্চের শুরুর তারিখ:</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.FromDate, "{0:dd MMM, yyyy}", new { @class = "input-small", @placeholder = "Date" })

                        </div>
                    </div>

                </fieldset>

            </div>
            <div class="span3 utopia-form-freeSpace">
                <fieldset>
                    <div class="control-group ">
                        <label class="control-label" for="ContentTypeId2">জেলা :</label>
                        @Html.DropDownListFor(model => model.ContentTypeId2, Model.ContentTypes2, "All Districts", new { @class = "span12 ddl" })

                    </div>
                </fieldset>
                <fieldset>
                    <div class="control-group ">
                        <label class="control-label" for="ToDate">সার্চের শেষ তারিখ:</label>

                        <div class="controls">
                            @Html.TextBoxFor(model => model.ToDate, "{0:dd MMM, yyyy}", new { @class = "input-small", @placeholder = "Date" })

                        </div>
                    </div>

                </fieldset>

            </div>
            <div class="span3 utopia-form-freeSpace">
                <fieldset>
                    <div class="control-group ">
                        <label class="control-label" for="ContentTypeId3">  &nbsp; </label>
                        <div class="controls">
                            &nbsp;
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="control-group ">
                        <label class="control-label" for="select01">
                            &nbsp;
                        </label>
                        <div class="controls">
                            <a id="dateSearchButton" class="btn btn-info"><i class="icon icon-search icon-white"></i> সার্চ </a>
                        </div>
                    </div>

                </fieldset>

            </div>
            <div class="span3 utopia-form-freeSpace">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="select01">
                            &nbsp;
                        </label>
                        <div class="controls">
                            &nbsp;
                            @if (UserRole.Check("SUMMERY", SessionHelper.Role))
                            {
                                @Ajax.ActionLink("তথ্য প্রদান ও পরিবর্তন", "Create", "DistrictSubmission", new { isOpeningAsset = false }, ajaxOpt, new { @class = "btn btn-primary pull-right" })
                            }
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="select01">
                            &nbsp;
                        </label>
                        <div class="controls">
                            <a id="prn" href="#" class="btn pull-right"><i class="icon icon-print"></i> Print</a>
                            <a id="exp" href="#" class="btn pull-right"><i class="icon icon-download"></i> Export</a>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</section>

<table id="gridTable" class="table table-striped table-bordered fixed_headers" style="width:100%;">
    <thead>
        <tr>
            <th>
                ⇒বিভাগ<br />⇒জেলা<br />⇒তারিখ<br />⇒সদস্য
            </th>
            @*<th>
                    কোয়ারেন্টাইন
                </th>
                <th>
                    রিলিজ
                </th>
                <th>
                    টেস্ট
                </th>
                <th>
                    মৃত্যু
                </th>*@
            <th>
                স্থানীয় প্রশাসন কী ব্যবস্থা গ্রহণ করেছে?
            </th>
            <th>
                স্থানীয় প্রশাসন কর্তৃক ব্র্যাককে কী দাবি/অনুরোধ করা হয়েছে?
            </th>
            <th>
                কী আতঙ্ক সৃষ্টি হয়েছিল এবং আতঙ্কের প্রকৃতি?
            </th>
            <th>
                সামাজিক সমস্যা সমূহ
            </th>
            <th>
                ব্র্যাকের স্টাফদের অনুভূতি কী?
            </th>
            <th>
                এনজিওরা কী করছে?
            </th>
            <th>
                অভাবী মানুষের অবস্থা কী?
            </th>
            <th>
                ব্র্যাক কী করতে পারে?
            </th>
            <th>
                অন্য কোন সমস্যা / মন্তব্য
            </th>
            <th>
                অতিরিক্ত প্রশ্ন ১
            </th>
            <th>
                অতিরিক্ত প্রশ্ন 2
            </th>
            @*@if (UserRole.Check("DISTRICT", SessionHelper.Role))
                {
                    <th></th>
                }*@
        </tr>
    </thead>
</table>

@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {

        $("#prn").click(function () {
            $("#gridTable").printThis();
        });

        $("#exp").click(function () {
            tableToExcel('gridTable', 'Export Name');
        });

            DatePicker('FromDate', 'dd MMM, yyyy');
            DatePicker('ToDate', 'dd MMM, yyyy');

            $(".ddl").change(function () {
                $('#gridTable').dataTable().fnDraw();
            });

        $("#dateSearchButton").click(function () {
            $("#isSum").val(false);
            $('#gridTable').dataTable().fnDraw();
        });

        $("#dateSearchButtonSum").click(function () {
            $("#isSum").val(true);
            $('#gridTable').dataTable().fnDraw();
        });

            $('#ContentTypeId1').change(function (event) {
                LoadDistrictSearch($('#ContentTypeId1').val());
            });

            @*$('#ContentTypeId2').change(function (event) {
                LoadPointSearch($('#ContentTypeId2').val());
            });*@

        window.LoadDistrictSearch = function (areaId) {
                var url = '@Url.Content("~/Main/GetDistrictByDivision")?id=' + areaId;
                LoadDropDownListWithCall('ContentTypeId2'
                    , url
                    , 'All Districts'
                    , null);
            }

            @*window.LoadPointSearch = function (locationId) {
                var url = '@Url.Content("~/Point/GetPointsByLocation")?id=' + locationId;
                LoadDropDownListWithCall('ContentTypeId3'
                    , url
                    , null
                    , null);
            }*@

            var addPost = {
                'ContentTypeId1': 'ContentTypeId1',
                'ContentTypeId2': 'ContentTypeId2',
                'FromDate': 'FromDate',
                'ToDate': 'ToDate',
                'isSum': 'isSum'
            }
            var btns = {
                //9: false //column number : is button group
            };

            /*data grid initializer*/
            DataTableBinder($("#gridTable")   //table object
                , '@Url.Content("~/DistrictSubmission/DataGrid")'  //json data url
                , [64, 128, 256, 1024] //record size
                , true //show all with row size
            , addPost  //additional parameters at query string
            , btns   //buttons are at these columns
            , true
            );

        });
    </script>
}
