@using AppProj.Web.Helpers;
@using AppProj.Web;
@model AppProj.Web.Models.DoctorsPoleModel
@{
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dialog1Body",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "openDialog1('Followup')",
        LoadingElementId = "loading",
        OnFailure = "failure"
    };
}
@using (Ajax.BeginForm("Save", "DoctorPole", ajaxOpt))
{
    @Html.ValidationSummary(true)
    if (Model != null)
    {
        @Html.HiddenFor(m => m.Id)
    }
    @Html.HiddenFor(m => m.StaffName)

    <table class="table table-striped table-bordered fixed_headers">
        <tr>
            <td>
                Staff Name
                @Html.TextBoxFor(model => model.StaffName, new { @style = "color:#ff6a00", @class = "input-group form-control" })
                @Html.ValidationMessageFor(model => model.StaffName)
                <br />
                PIN
                @Html.TextBoxFor(model => model.PIN, new { @class = "input-group form-control" })
                @Html.ValidationMessageFor(model => model.PIN)
                <br />
                Program
                @Html.DropDownListFor(model => model.ProgramId, Model.ProgramList, new { @class = "searchable-dropdown form-control" })
                @Html.ValidationMessageFor(model => model.ProgramId)
                <br />
                Designation
                @Html.TextBoxFor(model => model.Designation, new { @style = "color:#ff6a00", @class = "input-group form-control" })
                @Html.ValidationMessageFor(model => model.Designation)
                <br />
                Division
                @Html.DropDownListFor(model => model.DivisionId, Model.DivisionList, new { @class = "searchable-dropdown form-control" })
                @Html.ValidationMessageFor(model => model.DivisionId)
                <br />
                District
                @Html.DropDownListFor(model => model.DistrictId, Model.DistrictList, new { @class = "searchable-dropdown form-control" })
                @Html.ValidationMessageFor(model => model.DistrictId)
                <br />
                Area Office
                @Html.TextBoxFor(model => model.AreaOffice, new { @class = "input-group form-control" })
                @Html.ValidationMessageFor(model => model.AreaOffice)
            </td>
            <td>
                Who is Effected
                @Html.DropDownListFor(model => model.EffectedPersonId, Model.EffectedPersonList, new { @class = "searchable-dropdown form-control" })
                @Html.ValidationMessageFor(model => model.EffectedPersonId)
                <br />
                Patient Name
                @Html.TextBoxFor(model => model.Name, new { @class = "input-group form-control" })
                @Html.ValidationMessageFor(model => model.Name)
                <br />
                Patient Sex
                @Html.DropDownListFor(model => model.GenderId, Model.GenderList, new { @class = "searchable-dropdown form-control" })
                @Html.ValidationMessageFor(model => model.GenderId)
                <br />
                Patient Mobile No
                @Html.TextBoxFor(model => model.MobileNo, new { @class = "input-group form-control" })
                @Html.ValidationMessageFor(model => model.MobileNo)
                <br />
                Patient Age
                @Html.TextBoxFor(model => model.Age, new { @class = "input-group form-control" })
                @Html.ValidationMessageFor(model => model.Age)
                Blood Broup
                @Html.DropDownListFor(model => model.BloodGroupId, Model.BloodGroupList, "Select Blood Group", new { @class = "searchable-dropdown form-control" })
                @Html.ValidationMessageFor(model => model.BloodGroupId)
            </td>
        </tr>
        <tr>
            <td>
                Case History
                <br />
                @Html.CheckBoxFor(model => model.IsTravel) Any Travel
                <br />
                @Html.CheckBoxFor(model => model.IsTravelCountry) Travel within country
                <br />
                @Html.CheckBoxFor(model => model.IsTravelAbroad) Travel outside country
                <br />
                @Html.CheckBoxFor(model => model.IsContract) Contact history
            </td>
            <td>
                Comment
                @Html.TextAreaFor(model => model.CommentByHR, new { @class = "input-group form-control" })
                @Html.ValidationMessageFor(model => model.CommentByHR)
            </td>
        </tr>
        <tr>
            <td class="control">
                <p>
                    <input id="save-submit" type="submit" value="Update" class="btn btn-bracify font-color-white" />
                </p>
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    ValidatateForm("form0");
    $(document).ready(function () {

        $("#save-submit").click(function () {

            if (!confirm("Do you want to Save?")) {
                return false;
            }

        });

        $('#DivisionId').change(function (event) {
            LoadDistrictSearch($('#DivisionId').val());
        });

        window.LoadDistrictSearch = function (areaId) {
                var url = '@Url.Content("~/Main/GetDistrictByDivision")?id=' + areaId;
            LoadDropDownListWithCall('DistrictId'
                    , url
                    , null
                    , null);
        }

        //$('#Dob').datepicker({
        //    format: "dd M, yyyy",
        //    autoclose: true,
        //    endDate: '+0d',
        //    startDate: null
        //});

    });
</script>
