@model AppProj.Web.Models.SubmitModel
@{
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dialog1Body",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "openDialog1('Save')",
        LoadingElementId = "loading",
        OnFailure = "failure"
    };
}
@using (Ajax.BeginForm("Save", "SummerySubmission", ajaxOpt))
{
    @Html.ValidationSummary(true)
    if (Model != null)
    {
        @Html.HiddenFor(m => m.Id)
    }
<table class="table-striped">
    <tr>
        <td class="title">
            তথ্যের উৎস
        </td>
        <td class="control">
            @*@Html.DropDownListFor(model => model.SourceId, Model.Sources)*@
            @Html.DropDownListFor(model => model.SourceId, Model.Sources, "All Sources", new { @class = "searchable-dropdown form-control" })

            @Html.ValidationMessageFor(model => model.SourceId)
        </td>
    </tr>
    <tr>
        <td class="title">
            জেলা
        </td>
        <td class="control">
            @Html.DropDownListFor(model => model.DistrictId, Model.Districts)
            @Html.ValidationMessageFor(model => model.DistrictId)
        </td>
    </tr>
    <tr>
        <td class="title">
            উপজেলা / থানা
        </td>
        <td class="control">
            @Html.DropDownListFor(model => model.UpazillaId, Model.Upazillas)
            @Html.ValidationMessageFor(model => model.UpazillaId)
        </td>
    </tr>
    <tr>
        <td class="title">
            তারিখ
        </td>
        <td class="control">
            @Html.TextBoxFor(model => model.Date, "{0:dd MMM, yyyy}", new { @class = "span2", @placeholder = "Date" })
            @Html.ValidationMessageFor(model => model.Date)
        </td>
    </tr>
    <tr>
        <td class="title">
            কতজনের সাক্ষাত নেয়া হয়েছে
            <span data-toggle="tooltip" data-placement="top" title="Number of individuals who have been contacted
যাদের সাথে যোগাযোগ করা হয়েছে তাদের সংখ্যা/ যোগাযোগ করা হয়েছে এমন ব্যক্তিদের সংখ্যা
"><img src="~/Content/tools.png" width="30" /></span>
        </td>
        <td class="control">
            @Html.TextBoxFor(model => model.ReachCount)
            @Html.ValidationMessageFor(model => model.ReachCount)
        </td>
    </tr>
    <tr>
        <td class="title">
            পিন (যার কাছ থেকে ডাটা নেয়া হয়েছে )
        </td>
        <td class="control">
            @Html.TextBoxFor(model => model.CollectedBy)
            @Html.ValidationMessageFor(model => model.CollectedBy)
        </td>
    </tr>
    <tr>
        <td class="title">
            মন্তব্য
        </td>
        <td class="control" colspan="3">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </td>
    </tr>

    <tr>
        <td class="control">
            <p>
                <input id="save-submit" type="submit" value="সেভ করুন" class="btn btn-primary" />
            </p>
        </td>
    </tr>
</table>

}
<script type="text/javascript">
    ValidatateForm("form0");


    $(document).ready(function () {
         
        //$('.abc').tooltip();
    });
    $(document).ready(function () {

        $("#save-submit").click(function () {
    
            if (!confirm("Do you want to Save?")) {
                return false;
            }

        });

        $('#DistrictId').change(function (event) {
            LoadUpazialSearch($('#DistrictId').val());
        });

        window.LoadUpazialSearch = function (areaId) {               
                var url = '@Url.Content("~/Main/GetUpazilaByDistrict")?id=' + areaId;
            LoadDropDownListWithCall('UpazillaId'
                    , url
                    , null
                    , null);
        }

        $('#Date').datepicker({
            format: "dd M, yyyy",
            autoclose: true,
            endDate: '+0d',
            startDate: null
        });

    });
</script>
